<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/admin_layout">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div id="content-wrapper" class="d-flex flex-column" layout:fragment="content">

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">버전관리</li>
		</ol>
	</nav>

	<!-- Main Content -->
	<div id="content">
		<!-- Begin Page Content -->
		<div class="container-fluid">

			<!-- Top Content -->
			<div class="card shadow mb-1">
				<div class="card-header">
					<h5 class="m-0 font-weight-bold text-primary">검색</h5>
				</div>
				<div class="card-body">
					<form class="form-inline">
						<div class="form-group">
							<select id="cb_cd" class="easyui-combobox" name="cb_cd" style="width:250px;" label="구분">
							</select>
							&nbsp;
							<input class="easyui-textbox" data-options="iconCls:'icon-search'" style="width:300px" id="srchTxt">
							&nbsp;
							<a href="#" class="easyui-linkbutton float-right mx-2" data-options="iconCls:'icon-search'" style="width: 80px" onClick="fnSearch();">검색</a>
						</div>
					</form>
				</div>
			</div>


			<div class="card shadow">
				<div class="card-header">
					<h5 class="m-0 font-weight-bold text-primary">조회내역</h5>
				</div>
				<div class="card-body" style="min-height: 530px;">
					<div class="d-flex justify-content-between">
						<div>
							<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add'" onClick="fn_add();">추가</a> 
							<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove'" onClick="fn_remove();">삭제</a> 
						</div>
						<div>
							<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit'" onclick="fn_edit();">편집</a>
							<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save'" onClick="fn_save();">저장</a>
							<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-undo'" onclick="fn_cancel();">취소</a>
						</div>
					</div>
				
					<table id="dg" style="width:100%"></table>
				</div>
			</div>
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- End of Main Content -->


	<footer th:replace="fragments/admin_footer :: footerFragment"></footer>

	<script type="text/javascript" th:src="@{/js/admin/AD1005MV.js}"></script>

</div>


</html>