<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/admin_layout2">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	<script type="text/javascript" th:src="@{/js/admin/AD1003MV.js}"></script>
</th:block>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" layout:fragment="content">
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0">회원 관리</h1>
				</div>
				<!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item"><a href="#">사용자 관리</a></li>
						<li class="breadcrumb-item active">회원 관리</li>
					</ol>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->

	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<!-- Search -->
			<div class="easyui-panel p-3 mb-2" title="검색">
				<div class="form-inline mb-2">
					<select class="easyui-combobox" id="cbSrch" name="cbSrch" style="width: 250px;"
						data-options="label:'검색어 :',labelPosition:'left',required:true">
						<option value="A" selected="selected">전체</option>
						<option value="N">고객이름</option>
						<option value="P">핸드폰번호</option>
					</select>
					<div class="ml-2">
						<input class="easyui-searchbox" id="srchTxt" name="srchTxt" style="width: 300px;">
					</div>
					<div class="ml-2">
						<a href="javascript:void(0)" class="easyui-linkbutton" id="btnUsrSearch" style="width: 100px; height: 32px"
							data-options="iconCls:'icon-ok'">검색</a>
					</div>
				</div>
				<div class="form-inline mb-2">
					<input class="easyui-datebox" id="startDttm" name="startDttm" style="width: 250px;"
						data-options="label:'등록기간 :',labelPosition:'left',formatter:myformatter,parser:myparser">
					<div class="ml-1">~</div>
					<div class="ml-1">
						<input id="endDttm" name="endDttm" class="easyui-datebox" style="width: 190px;"
							data-options="formatter:myformatter,parser:myparser">
					</div>
				</div>
				<div class="form-inline">
					<select class="easyui-combobox" id="cbDelYn" name="cbDelYn" style="width: 250px;"
						data-options="label:'삭제여부 :',labelPosition:'left'">
						<option value="A" selected="selected">전체</option>
						<option value="Y">사용</option>
						<option value="N">삭제</option>
					</select>
				</div>
			</div>

			<!-- Datagrid -->
			<div class="easyui-panel p-3 mb-2" title="조회결과">
				<div class="d-flex justify-content-between mb-1">
					<div>
						<a href="javascript:void(0)" class="easyui-linkbutton" id="btnAddUserPop"
							data-options="iconCls:'icon-add'">추가</a>
						<a href="javascript:void(0)" class="easyui-linkbutton" id="btnRemoveUser"
							data-options="iconCls:'icon-remove'">삭제</a>
					</div>
					<div>
						<a href="javascript:void(0)" class="easyui-linkbutton" id="btnModifyUserPop"
							data-options="iconCls:'icon-edit'">편집</a>
					</div>
				</div>
				<table id="dg" style="width: 100%; min-height: 530px;"></table>
			</div>
		</div>
		<!-- /.container-fluid -->
	</section>

	<!-- customer dialog -->
	<div id="custDlg" class="easyui-dialog" style="width:1500px;height:800px;padding:10px;display: none;" data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons'">
	</div>
</div>
<!-- /.content-wrapper -->

</html>