<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/admin_layout2">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	<script type="text/javascript" th:src="@{/js/admin/AD1001MV.js}"></script>
</th:block>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" layout:fragment="content">
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0">관리자 관리</h1>
				</div>
				<!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item"><a href="#">사용자 관리</a></li>
						<li class="breadcrumb-item active">관리자 관리</li>
					</ol>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->

	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<!-- Search -->
			<div class="easyui-panel p-3 mb-2" title="검색">
				<div class="form-inline mb-2">
					<select class="easyui-combobox" id="cb_srch" name="cb_srch"
						style="width: 250px;"
						data-options="label:'검색어 :',labelPosition:'left',required:true">
						<option value="all" selected="selected">전체</option>
						<option value="nm">사용자이름</option>
						<option value="em">이메일</option>
					</select>
					<div class="ml-2">
						<input class="easyui-searchbox" id="srchTxt" name="srchTxt"
							style="width: 300px;">
					</div>
					<div class="ml-2">
						<a href="javascript:void(0)" class="easyui-linkbutton" id="btnUsrSearch"
							style="width: 100px; height: 32px"
							data-options="iconCls:'icon-ok'">검색</a>
					</div>
				</div>
				<div class="form-inline mb-2">
					<select class="easyui-combobox" id="cb_usrAuth" name="cb_usrAuth"
						style="width: 250px;"
						data-options="label:'권한 :',labelPosition:'left'">
						<option value="">전체</option>
						<option th:each="data, index : ${usrAuthList}"
								th:value="${data?.ditcCd}" 
								th:text="${data?.ditcNm}"></option>
					</select>
				</div>
				<div class="form-inline">
					<select class="easyui-combobox" id="cb_usrAprv" name="cb_usrAprv"
						style="width: 250px;"
						data-options="label:'승인여부 :',labelPosition:'left'">
						<option value="">전체</option>
						<option th:each="data, index : ${usrAprvList}"
								th:value="${data?.ditcCd}" 
								th:text="${data?.ditcNm}"></option>
					</select>
				</div>
			</div>

			<!-- Datagrid -->
			<div class="easyui-panel p-3 mb-2" title="조회결과">
				<div class="d-flex justify-content-between mb-1">
					<div>
						<a href="javascript:void(0)" class="easyui-linkbutton" id="btnAddUserPop"
							data-options="iconCls:'icon-add'">추가</a>
						<a href="javascript:void(0)" class="easyui-linkbutton" id="btnRemoveUserPop"
							data-options="iconCls:'icon-remove'">삭제</a>
					</div>
					<div>
						<a href="javascript:void(0)" class="easyui-linkbutton" id="btnModifyUserPop"
							data-options="iconCls:'icon-edit'">편집</a>
						<a href="javascript:void(0)" class="easyui-linkbutton" id="btnModifyPassPop"
							data-options="iconCls:'icon-lock'">비밀번호
							변경</a>
					</div>
				</div>
				<table id="dg" style="width: 100%; min-height: 530px;"></table>
			</div>
		</div>
		<!-- /.container-fluid -->
	</section>

	<div id="userDlg" class="easyui-dialog" style="width: 700px; padding: 10px;"
		data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons'">
		<form id="userFrm" method="post">
		<input type="hidden" name="dlg_usrNo">
		<div class="row p-2">
			<div class="col">
				<input name="dlg_usrEml" class="easyui-textbox"
					data-options="label:'이메일:',required:true,validType:'email'"
					style="width: 100%">
			</div>
			<div class="col">
				<input name="dlg_usrPwd" class="easyui-passwordbox"
					placeholder="Password" data-options="label:'패스워드:',required:true"
					style="width: 100%;">
			</div>
		</div>
		<div class="row p-2">
			<div class="col">
				<input name="dlg_usrNm" class="easyui-textbox"
					data-options="label:'사용자이름:',required:true" style="width: 100%">
			</div>
			<div class="col">
				<input name="dlg_usrPhnNo" class="easyui-textbox"
					data-options="label:'핸드폰번호:',required:true" style="width: 100%">
			</div>
		</div>
		<div class="row p-2">
			<div class="col">
				<select name="dlg_usrGrade" class="easyui-combobox"
					data-options="label:'직위:'" style="width: 100%;">
				</select>
			</div>
			<div class="col">
				<select name="dlg_usrAuth" class="easyui-combobox"
					data-options="label:'권한:'" style="width: 100%;">
				</select>
			</div>
		</div>
		<div class="row p-2">
			<div class="col-6">
				<select name="dlg_usrAprv" class="easyui-combobox"
					data-options="label:'승인여부:'" style="width: 100%;">
				</select>
			</div>
			<div class="col-6">
				<select name="dlg_delYn" class="easyui-combobox"
					data-options="label:'사용유무:'" style="width: 100%;">
					<option value="N" selected="selected">미사용</option>
					<option value="Y">사용</option>
				</select>
			</div>
		</div>
		</form>
		<div class="row p-2">
			<div class="col-12 d-flex justify-content-end">
				<a href="javascript:void(0)" class="easyui-linkbutton c6" id="btnSaveUser"
					data-options="iconCls:'icon-ok'">저장</a>
				<a href="javascript:void(0)" class="easyui-linkbutton ml-2"
					data-options="iconCls:'icon-cancel'"
					onClick="javascript:$('#userDlg').dialog('close');">취소</a>
			</div>
		</div>
	</div>

	<div id="passDlg" class="easyui-dialog" style="width: 700px; padding: 10px;"
		data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons'">
		<form id="passFrm" method="post" style="margin: 0; padding: 20px 50px">
		<input type="hidden" name="dlg_usrNo">
		<div style="margin-bottom: 10px" class="row">
			<div class="col">
				<input name="dlg_usrPwd" class="easyui-passwordbox"
					placeholder="Password" data-options="label:'패스워드:',required:true"
					style="width: 100%;">
			</div>
			<div class="col">
				<input name="dlg_usrPwdCfm" class="easyui-passwordbox"
					placeholder="Password"
					data-options="label:'패스워드 확인:',required:true" style="width: 100%;">
			</div>
		</div>
		</form>
		<div style="text-align: center; padding: 5px 0">
			<a href="javascript:void(0)" class="easyui-linkbutton c6" id="btnModifyPass"
				data-options="iconCls:'icon-ok'">저장</a>
			<a href="javascript:void(0)" class="easyui-linkbutton"
				data-options="iconCls:'icon-cancel'"
				onClick="javascript:$('#passDlg').dialog('close');">취소</a>
		</div>
	</div>

</div>
<!-- /.content-wrapper -->

</html>