<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/admin_layout">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	<script>
		
		function fnSearch(){
			var param = {
				cbSrch : $('#cb_srch').combobox('getValue'),
				cbAuth : $('#cb_auth').combobox('getValue'),
				cbAppv : $('#cb_appv').combobox('getValue'),
				target : "grid",
				srchTxt : $("#srchTxt").val()
			};
			
			$.ajax({
		      type: "POST",
		      url: '/admin/getAdmin',
		      dataType: 'json',
		     //data:$('#searchUser').serialize(),    
		      data:param,
		    }).done(function( responseJson ) {
		    	console.log(responseJson);
	          	$('#dg').datagrid('loadData', responseJson ); 
	          	
	        });
		}
		
		
		function fnInit(){
			$('#cb_auth').combobox({
				url:'/admin/getGrpCd?GrpCd=C1002&target=combo',
			    valueField:'ditcCd',
			    textField:'ditcCdNm',
			    onSelect:function(rec){
					console.log(rec);
				},
				onLoadSuccess:function(){
					$(this).combobox('setValue', '00000');
				}
			});
			
			$('#cb_appv').combobox({
				url:'/admin/getGrpCd?GrpCd=C1010&target=combo',
			    valueField:'ditcCd',
			    textField:'ditcCdNm',
			    onSelect:function(rec){
					console.log(rec);
				},
				onLoadSuccess:function(){
					$(this).combobox('setValue', '00000');
				}
			});
			
		}
		
		
		$(document).ready(function(){
			fnInit();
		});
	
	</script>
</th:block>

<div id="content-wrapper" class="d-flex flex-column" layout:fragment="content">

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Home</a></li>
			<li class="breadcrumb-item"><a href="#">사용자 관리</a></li>
			<li class="breadcrumb-item active" aria-current="page">관리자 관리</li>
		</ol>
	</nav>

	<!-- Main Content -->
	<div id="content">
		<!-- Begin Page Content -->
		<div class="container-fluid">
			<div class="card shadow mb-1">
				<div class="card-header">
					<h5 class="m-0 font-weight-bold text-primary">검색</h5>
				</div>
				<div class="card-body">
					<form class="form-inline">
						<div class="form-group">
							<select id="cb_srch" class="easyui-combobox" required="true" name="cb_srch" style="width:200px;" label="검색어">
								<option value="all" selected="selected">선택</option>
							    <option value="nm">이름</option>
							    <option value="em">이메일</option>
							</select>
							&nbsp;
							<input class="easyui-textbox" data-options="iconCls:'icon-search'" style="width:300px" id="srchTxt">
							&nbsp;
							<a href="#" class="easyui-linkbutton float-right mx-2" data-options="iconCls:'icon-search'" style="width: 80px" onClick="fnSearch();">검색</a>
						</div>
					</form>
					<hr class="mt-2 mb-2" />
					<form class="form-inline">
						<div class="form-group">
							<select id="cb_auth" class="easyui-combobox"  name="cb_auth" style="width:300px;" label="권한">
							</select>
						</div>
					</form>
					<hr class="mt-2 mb-2" />
					<form class="form-inline">
						<div class="form-group">
							<select id="cb_appv" class="easyui-combobox" name="cb_appv" style="width:300px;" label="승인여부">
							</select>
						</div>
					</form>
				</div>
			</div>
			
			<div class="card shadow mb-4">
				<div class="card-header">
					<h5 class="m-0 font-weight-bold text-primary">조회내역</h5>
				</div>
				<div class="card-body" style="min-height: 530px;">

					<div style="padding: 5px 0;">
						<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add'" onClick="addCode();">추가</a> 
						<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove'" onClick="removeCode();">삭제</a> 
						<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit'" onclick="editCode();">편집</a> 
						<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save'" onClick="saveCode();">저장</a>
					</div>
					<!--  <p>Fixed Width Buttons</p>
				    <div style="padding:5px 0;">
				        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" style="width:80px">Search</a>
				        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-print'" style="width:80px">Print</a>
				        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-reload'" style="width:80px">Reload</a>
				        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-help'" style="width:80px">Help</a>
				    </div> -->
				
					
					 <table id="dg" class="easyui-datagrid" title="DataGrid" style="width:100%;height:600px" data-options="
				          singleSelect:false, 
				          ctrlSelect:true,
				          idField:'id',
				          rownumbers:true,
				          pagination:true,pageSize:50,pageList:[50],
				          dragSelection: true">
				      <thead>
				        <tr>
				          <th data-options="field:'usrNm',width:150,align:'center'">사용자이름</th>
				          <th data-options="field:'usrEml',width:250,align:'center'">이메일</th>
				          <th data-options="field:'usrPhnNo',width:200,align:'center'">핸드폰번호</th>
				          <th data-options="field:'usrGrade',width:100,align:'center'">직위</th>
				          <th data-options="field:'usrAuth',width:100,align:'center'">권한</th>
				          <th data-options="field:'usrAprv',width:100,align:'center'">승인여부</th>
				          <th data-options="field:'delYn',width:150,align:'center'">삭제여부</th>
				          <th data-options="field:'regDt',width:200,align:'center'">등록날짜</th>
				        </tr>
				      </thead>
				    </table>
				</div>
			</div>

		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- End of Main Content -->
	
	<div id="addDlg" class="easyui-dialog" style="width:700px" data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons'">
		<form id="addFrm" method="post" novalidate style="margin: 0; padding: 20px 50px">
			<div style="margin-bottom: 10px">
				<select id="selCdKind" class="easyui-combobox" required="true" name="selCdKind" style="width:200px;" label="코드구분:">
					<option value="S" selected="selected">선택</option>
				    <option value="G">코드그룹</option>
				    <option value="C">코드</option>
				</select>
			</div>
			<div style="margin-bottom: 10px;display:none;" id="grpRg">
				<div class="row">
				    <div class="col-6">
				    	<select id="grpRg_grpCd" class="easyui-combobox" required="true" name="grpRg_grpCd" style="width:270px;" label="그룹코드">
							<option value="00000">선택</option>
						</select>
				    </div>
				    <div class="col-6 text-right">
				    	<input name="grpRg_ditcCd" id="cdRg_ditcCd" class="easyui-textbox" required="true" label="코드:" style="width:170px">
				    	<a href="#" class="easyui-linkbutton float-right mx-2" data-options="iconCls:'icon-search'"  onClick="fnChkDup('ditc');">중복확인</a>
				    </div>
				</div>
			</div>
			<div style="margin-bottom: 10px;display:none;" id="cdRg">
				<div class="row">
				    <div class="col-6">
				    	<input name="cdRg_grpCd" class="easyui-textbox" required="true" label="그룹코드:" style="width: 170px">
				    	<a href="#" class="easyui-linkbutton float-right mx-2" data-options="iconCls:'icon-search'" style="width:88px" onClick="fnChkDup('grp');">중복확인</a>
				    </div>
				    <div class="col-6 text-right">
				    	<input name="cdRg_ditcCd" class="easyui-textbox" required="true" label="상위코드:" style="width: 200px" value="00000">
				    </div>
				</div>
			</div>
			<div style="margin-bottom: 10px">
				<input name="ditcNm" class="easyui-textbox" required="true" label="코드이름:" style="width: 100%">
			</div>
			<div style="margin-bottom: 10px">
				<input name="cdExp" class="easyui-textbox" required="true" validType="email" label="코드설명:" style="width: 100%">
			</div>
			<!-- <div style="margin-bottom: 10px">
				<input name="vOrder" class="easyui-textbox" required="true" label="순서:" style="width:150px;">
			</div> -->
			<div style="margin-bottom: 10px">
				<select id="lockYn" class="easyui-combobox" required="true" name="lockYn" style="width:200px;" label="잠금여부:">
				    <option value="Y" selected="selected">잠금</option>
				    <option value="N">비잠금</option>
				</select>
			</div>
			<div style="margin-bottom: 10px">
				<select id="useYn" class="easyui-combobox" required="true" name="useYn" style="width:200px;" label="사용여부">
				    <option value="Y" selected="selected">사용</option>
				    <option value="N">비사용</option>
				</select>
			</div>
		</form>
		<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save'" onClick="saveCode();">저장</a>
	</div>
	
	
	<footer th:replace="fragments/admin_footer :: footerFragment"></footer>
</div>


</html>