<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/admin_layout">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div id="content-wrapper" class="d-flex flex-column" layout:fragment="content">

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Home</a></li>
			<li class="breadcrumb-item"><a href="#">사용자 관리</a></li>
			<li class="breadcrumb-item active" aria-current="page">회원 관리</li>
		</ol>
	</nav>

	<!-- Main Content -->
	<div id="content">
		<!-- Begin Page Content -->
		<div class="container-fluid">
			<div class="card shadow mb-1">
				<div class="card-header">
					<h5 class="m-0 font-weight-bold text-primary">검색</h5>
				</div>
				<div class="card-body">
					<form class="form-inline">
						<div class="form-group">
							<span class="align-middle font-weight-bold" style="width: 80px;">구분</span>
							<select class="form-control-sm custom-select-sm custom-select mr-3" style="width: 270px;">
								<option selected>선택...</option>
								<option value="1">예약고객</option>
								<option value="2">구매고객</option>
							</select>
						</div>
					</form>
					<hr class="mt-2 mb-2" />
					<form class="form-inline">
						<div class="form-group">
							<span class="align-middle font-weight-bold" style="width: 80px;">검색어</span>
							<select class="form-control-sm custom-select-sm custom-select mr-3">
								<option selected>선택...</option>
								<option value="1">이름</option>
								<option value="2">전화번호</option>
							</select>
							<input type="search" class="form-control form-control-sm mr-3" placeholder="" aria-controls="dataTable">
						</div>
					</form>
					<button type="button" class="btn-sm btn-primary mr-1 float-right px-4" id="srchBtn">조회</button>
				</div>
			</div>
			<!-- DataTales -->
			<div class="card shadow mb-4">
				<div class="card-header">
					<h5 class="m-0 font-weight-bold text-primary">조회내역</h5>
				</div>
				<div class="card-body" style="min-height: 700px !important;">
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
							<thead>
								<tr>
									<th class="text-center">no</th>
									<th class="text-center">체크</th>
									<th class="text-center">구분</th>
									<th class="text-center">이름</th>
									<th class="text-center">전화번호</th>
									<th class="text-center">최근예약(구매) 날짜</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="text-center pt-4">1</td>
									<td class="text-center pt-4">
										<div class="custom-control custom-control-sm custom-checkbox custom-checkbox-sm">
											<input type="checkbox" class="custom-control-input" id="customCheck1"> <label class="custom-control-label" for="customCheck1"></label>
										</div>
									</td>
									<td class="text-center pt-4">예약고객</td>
									<td class="text-center pt-4">곽경준</td>
									<td class="text-center pt-4">01030038397</td>
									<td class="text-center pt-4">2012-11-01</td>
								</tr>
							</tbody>
						</table>
					</div>

					<button type="button" class="btn-sm btn-success mr-1 float-right px-4" id="smsBtn">문자 보내기</button>
					<button type="button" class="btn-sm btn-secondary mr-1 float-right px-4" id="delBtn">삭제</button>
					<button type="button" class="btn-sm btn-secondary mr-1 float-right px-4" id="modBtn">수정</button>
				</div>
			</div>
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- End of Main Content -->
	<footer th:replace="fragments/admin_footer :: footerFragment"></footer>
</div>
<!-- End of Content Wrapper -->





<div class="modal fade" id="smsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content" style="width: 680px;">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">
					<b>SMS 보내기</b>
				</h5>
				<button class="close" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<form class="form-inline">
					<div class="form-group">
						<label for="codeNm" class="col-2">코드명 : </label>
						<div class="col-4">
							<input type="text" class="form-control" required />
						</div>
						<label for="codeNm" class="col-2">코드 : </label>
						<div class="col-4">
							<input type="text" class="form-control" disabled />
						</div>
					</div>
					<div class="form-group"></div>
					<div class="form-group"></div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
				<a class="btn btn-primary" href="login.html">등록</a>
			</div>
		</div>
	</div>
</div>

<div class="toast" id="myToast" style="position: absolute; top: 0; right: 0;">
	<div class="toast-header">
		<strong class="mr-auto"><i class="fa fa-grav"></i> We miss you!</strong> <small>11 mins ago</small>
		<button type="button" class="ml-2 mb-1 close" data-dismiss="toast">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="toast-body">
		<div>
			It's been a long time since you visited us. We've something special for you. <a href="#">Click here!</a>
		</div>
	</div>
</div>



</html>