<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/admin_layout2">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	<script type="text/javascript" th:src="@{/js/admin/sms_3.js}"></script>
</th:block>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" layout:fragment="content">
	<!-- Content Header (Page header) -->
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0">SMS 관리</h1>
				</div>
				<!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active">SMS 관리</li>
					</ol>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>
	<!-- /.content-header -->

	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<!-- Search -->
			<div class="easyui-panel p-2" title="검색" style="width: 100%;"
				data-options="cls:'c2'">
				<form id="searchFrm" method="post">
				<div class="row">
					<div class="col-2">
						<select class="easyui-combobox" id="dosgTpCd" name="dosgTpCd" style="width:100%;text-align: center;"
								data-options="
							   		label:'복용유형',
							   		labelPosition:'left',
							   		panelHeight:'auto'">
							<!-- <option value="" selected="selected">전체</option> -->
							<option th:each="data, index : ${dosgTpList}"
									th:value="${data?.ditcCd}" 
									th:text="${data?.ditcNm}"></option>
						</select>
					</div>
					<div class="col-8">
						<a href="javascript:void(0)" id="btnSearch" class="easyui-linkbutton ml-2" style="width: 100px;"
						   data-options="iconCls:'icon-search'">검색</a>
					</div>
					<div class="col-2 d-flex justify-content-end">
					</div>
				</div>
				</form>
			</div>

			<!-- Datagrid -->
			<div class="row mt-2">
				<div class="col-9">
					<div class="easyui-panel p-2 mb-2" title="조회결과">
						<table id="dg" style="width: 100%;min-height: 650px;"></table>
					</div>
				</div>
				<div class="col-3">
					<div class="easyui-panel p-2 mb-2" title="발송문자">
						<form id="dosgSmsFrm" method="post">
						<input type="hidden" name="dosgTpCd">
						<input type="hidden" name="dosgSeq">
						<input type="hidden" name="smsId">
						<div style="width: 100%;height: 650px;">
							<div class="row">
								<div class="col-4">
									<a href="javascript:void(0)" id="btnAdd" class="easyui-linkbutton c8" style="width: 100px;"
						   				data-options="iconCls:'icon-add'">신규등록</a>
						   		</div>
								<div class="col-8 d-flex justify-content-end">
									<a href="javascript:void(0)" id="btnModify" class="easyui-linkbutton" style="width: 70px;"
						   				data-options="iconCls:'icon-edit'">수정</a>
									<a href="javascript:void(0)" id="btnRemove" class="easyui-linkbutton ml-2" style="width: 70px;"
						   				data-options="iconCls:'icon-remove'">삭제</a>
								</div>
							</div>
							<div class="row mt-1">
								<div class="col-12">
									<input class="easyui-textbox" name="dosgTpCdNm" style="width: 100%;text-align: center;"
										   data-options="
										   		label:'복용유형',
										   		labelWidth:120,
										   		labelPosition:'left'">
								</div>
							</div>
							<div class="row mt-1">
								<div class="col-12">
									<input class="easyui-textbox" name="dosgLvCdNm" style="width: 100%;text-align: center;"
										   data-options="
										   		label:'복용단계',
										   		labelWidth:120,
										   		labelPosition:'left'">
								</div>
							</div>
							<div class="row mt-1">
								<div class="col-12">
									<input class="easyui-textbox" name="dosgSeqNm" style="width: 100%;text-align: center;"
										   data-options="
										   		label:'복용일차',
										   		labelWidth:120,
										   		labelPosition:'left'">
								</div>
							</div>
							<div class="row mt-1">
								<div class="col-12">
									<input class="easyui-timespinner" name="sendHhmi" style="width: 100%;text-align: center;"
										   data-options="
										   		label:'발송시간',
										   		labelWidth:120,
										   		labelPosition:'left',
										   		prompt:'09:00'">
								</div>
							</div>
							<div class="row mt-1">
								<div class="col-12">
									<input class="easyui-textbox" name="smsTitle" style="width: 100%;text-align: center;"
										   data-options="
										   		label:'제목',
										   		labelWidth:120,
										   		labelPosition:'left'">
								</div>
							</div>
							<div class="row mt-1">
								<div class="col-12">
									<input class="easyui-textbox" name="smsContent" style="width: 100%;height: 300px;text-align: center;"
										   data-options="
										   		label:'내용',
										   		labelWidth:120,
										   		labelPosition:'top',
										   		multiline:true">
								</div>
							</div>
						</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- /.container-fluid -->
	</section>

</div>
<!-- /.content-wrapper -->

</html>