<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments/chorok_include :: config"></head>

<!-- <body class="layout-navbar-fixed sidebar-collapse text-sm" style="height:auto;"> -->
<body class="layout-navbar-fixed text-sm" style="height:auto;">    
    <div class="wrapper">
        <nav th:replace="fragments/chorok_header :: header"></nav>

        <aside th:replace="fragments/chorok_menu :: menu"></aside>

        <div layout:fragment="content"></div>

        <footer th:replace="fragments/chorok_footer :: footer"></footer>
    </div>
</body>
</html>