    <div class="modal-header">
        <h5 class="modal-title">예약 스케쥴 등록</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
    	<div class="row">
			<div class="col-4">
				<div class="card">
					<div class="card-header">
					  	<h3 class="card-title">상담이력</h3>
					</div>
					<!-- /.card-header -->
					<div class="card-body p-3">
					  	<table class="table table-sm">
							<tbody>
								<tr>
									<td>1.</td>
									<td>2021-04-21 14:20</td>
									<td>약사님 이름</td>
								</tr>
								<tr>
									<td>1.</td>
									<td>2021-04-21 14:20</td>
									<td>약사님 이름</td>
								</tr>
							</tbody>
					  	</table>
					</div>
					<!-- /.card-body -->
				</div>

				<div class="card">
					<div class="card-header">
					  	<h3 class="card-title">기본정보</h3>
					</div>
					<!-- /.card-header -->
					<div class="card-body p-2">
						<div class="form-group row" style="margin-bottom:5px;">
							<label for="inputEmail3" class="col-sm-2 col-form-label text-right">이름</label>
							<div class="input-group input-group-sm col-sm-4">
								<input type="email" class="form-control">
							</div>
							<label for="inputEmail3" class="col-sm-2 col-form-label text-right">전화번호</label>
							<div class="input-group input-group-sm col-sm-4">
								<input type="email" class="form-control">
							</div>
						</div>
						<div class="form-group row" style="margin-bottom:0px;">
							<label for="inputEmail3" class="col-sm-2 col-form-label text-right">생년월일</label>
							<div class="input-group input-group-sm col-sm-4">
								<input type="email" class="form-control">
							</div>
							<label for="inputEmail3" class="col-sm-2 col-form-label text-right">성별</label>
							<div class="input-group input-group-sm col-sm-4">
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" name="genTpCd" id="genTpCd1" value="F" tabindex="4">
									<label class="form-check-label" for="genTpCd1">여성</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" name="genTpCd" id="genTpCd2" value="M" tabindex="4">
									<label class="form-check-label" for="genTpCd2">남성</label>
								</div>
							</div>
						</div>
					</div>
				</div>



				<div class="card card-sm">
					<div class="card-header">
					  	<h3 class="card-title">결혼정보</h3>
					</div>
					<!-- /.card-header -->
					<div class="card-body p-2">
						<div class="form-group row" style="margin-bottom:5px;">
							<label for="inputEmail3" class="col-sm-3 col-form-label text-right">결혼여부</label>
							<div class="input-group input-group-sm col-sm-3">
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" name="genTpCd" id="genTpCd1" value="F" tabindex="4">
									<label class="form-check-label" for="genTpCd1">예</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" name="genTpCd" id="genTpCd2" value="M" tabindex="4">
									<label class="form-check-label" for="genTpCd2">아니요</label>
								</div>
							</div>
							<label for="inputEmail3" class="col-sm-3 col-form-label text-right">출산 자녀수</label>
							<div class="input-group input-group-sm col-sm-3">
								<input type="email" class="form-control">
							</div>
						</div>
						<div class="form-group row" style="margin-bottom:0px;">
							<label for="inputEmail3" class="col-sm-3 col-form-label text-right">마지막 출산년도</label>
							<div class="input-group input-group-sm col-sm-3">
								<input type="email" class="form-control">
							</div>
							<label for="inputEmail3" class="col-sm-3 col-form-label text-right">모유 수유(현재)</label>
							<div class="input-group input-group-sm col-sm-3">
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" name="genTpCd" id="genTpCd1" value="F" tabindex="4">
									<label class="form-check-label" for="genTpCd1">예</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="checkbox" name="genTpCd" id="genTpCd2" value="M" tabindex="4">
									<label class="form-check-label" for="genTpCd2">아니요</label>
								</div>
							</div>
						</div>
					</div>
				</div>



				<div class="card card-sm">
					<div class="card-header">
					  	<h3 class="card-title">내원경로</h3>
					</div>
					<!-- /.card-header -->
					<div class="card-body p-2">
						<div class="form-group row" style="margin-bottom:0px;">
							<div class="input-group input-group-sm col-sm-12">
								<div class="form-check form-check-inline">
									<input class="form-check-input col-sm-1" type="checkbox" name="genTpCd" id="genTpCd1" value="F" tabindex="4">
									<label class="form-check-label col-sm-2" for="genTpCd1">지인소개</label>
									<div class="input-group input-group-sm col-sm-4">
										<input type="email" class="form-control">
									</div>
									<div class="input-group input-group-sm col-sm-5">
										<input type="email" class="form-control">
									</div>
								</div>
							</div>
						</div>
						<div class="form-group row" style="margin-bottom:0px;">
							<div class="input-group input-group-sm col-sm-12">
								<div class="form-check form-check-inline">
									<input class="form-check-input col-sm-1" type="checkbox" name="genTpCd" id="genTpCd1" value="F" tabindex="4">
									<label class="form-check-label col-sm-2" for="genTpCd1">홈페이지</label>
									<div class="input-group input-group-sm col-sm-4">
										<input type="email" class="form-control">
									</div>
									<div class="input-group input-group-sm col-sm-5">
										<input type="email" class="form-control">
									</div>
								</div>
							</div>
						</div>
						<div class="form-group row" style="margin-bottom:0px;">
							<div class="input-group input-group-sm col-sm-12">
								<div class="form-check form-check-inline">
									<input class="form-check-input col-sm-1" type="checkbox" name="genTpCd" id="genTpCd1" value="F" tabindex="4">
									<label class="form-check-label col-sm-2" for="genTpCd1">카카오톡 검색창</label>
									<div class="input-group input-group-sm col-sm-4">
										<input type="email" class="form-control">
									</div>
									<div class="input-group input-group-sm col-sm-5">
										<input type="email" class="form-control">
									</div>
								</div>
							</div>
						</div>
						<div class="form-group row" style="margin-bottom:0px;">
							<div class="input-group input-group-sm col-sm-12">
								<div class="form-check form-check-inline">
									<input class="form-check-input col-sm-1" type="checkbox" name="genTpCd" id="genTpCd1" value="F" tabindex="4">
									<label class="form-check-label col-sm-2" for="genTpCd1">블로그 및 인터넷</label>
									<div class="input-group input-group-sm col-sm-4">
										<input type="email" class="form-control">
									</div>
									<div class="input-group input-group-sm col-sm-5">
										<input type="email" class="form-control">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-8">
			</div>
		</div>
    </div>
    <div class="modal-footer">
		<button type="button" id="btnSaveRsvtSch" class="btn btn-primary" tabindex="10">저장</button>
  		<button type="button" class="btn btn-secondary" data-dismiss="modal" tabindex="11" >닫기</button>
    </div>
	<script type="text/javascript" th:src="@{/js/main/rs1001p02.js}"></script> 
