<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="layouts/chorok_layout">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>


<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	<script type="text/javascript" th:src="@{/js/main/RS1001MV.js}"></script>
	<script type="text/javascript" th:inline="javascript">
	var timeList  = /*[[${timeList}]]*/'';
	</script> 
</th:block>



<div layout:fragment="content" class="content-wrapper">
	<section class="content-header">
		<div class="container-fluid">
		  	<div class="row mb-1">
				<div class="col-sm-6">
			  		<h1>주간 예약 스케쥴</h1>
				</div>
		  	</div>
		</div><!-- /.container-fluid -->
	</section>
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-8">
					<div class="easyui-panel p-2 mb-2" title="주간 예약스케쥴" style="width: 100%;overflow: hidden;"
						data-options="cls:'c8'">
						<div class="row mb-1">
							<div class="col-sm-6">
								<input class="easyui-textbox" name="searchKeyword" id="searchKeyword" 
												data-options="label:'예약자명/전화번호4자리',
												            labelWidth:'160px',
												            prompt:'예약자명/전화번호4자리',
															labelPosition:'left'"
												style="width:360px;margin-right:20px;" tabindex="1">
								<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" 
									id="btnSearchRsvtSch" name="btnSearchRsvtSch">예약조회</a>
							</div>
							<div class="col-sm-6 text-right">
								<!-- <button type="button" id="prevWeek" name="prevWeek" class="btn btn-secondary btn-sm">지난주</button>
								<button type="button" id="thisWeek" name="thisWeek" class="btn btn-secondary btn-sm">오늘</button>
								<button type="button" id="nextWeek" name="nextWeek" class="btn btn-secondary btn-sm">다음주</button> -->
								<a href="javascript:void(0)" id="prevWeek" class="easyui-linkbutton c2" style="width: 70px;">지난주</a>
								<a href="javascript:void(0)" id="thisWeek" class="easyui-linkbutton c2" style="width: 70px;">오늘</a>
								<a href="javascript:void(0)" id="nextWeek" class="easyui-linkbutton c2" style="width: 70px;">다음주</a>
							</div>
						</div>
						<div id="time-table" th:fragment="time-table">
							<input type="hidden" id="currDt" name="currDt" th:value="${currDt}" />
							<table class="table-sm table table-bordered table-hover" id="table-schedule">
								<colgroup>
									<col width=""/>
									<col width="15%"/>
									<col width="15%"/>
									<col width="15%"/>
									<col width="15%"/>
									<col width="15%"/>
									<col width="15%"/>
								</colgroup>
								<thead class="thead-light">
									<tr align="center">
										<th>예약시간</th>
										<th th:each="col, idx : ${colList}" th:text="|${col.baseDtStr} (${col.daysStrKor})|" ></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="row, idx : ${rowList}" style="height:34px;">
										<th th:text="${#dates.format(row.startHm, 'HH : mm')}" style="text-align:center; vertical-align: middle;"></th>
										<td th:each="col, colIdx : ${colList}" th:data-row="${row.id}" th:data-col="${col.daysNum}"
											th:style="${col.todayYn == 'Y'} ? 'background-color:#eaf0fb;':'background-color:;'"
											th:data-rsvt-date="|${#dates.format(col.baseDt, 'yyyy-MM-dd')} ${#dates.format(row.startHm, 'HH:mm')}|">
											<th:block th:each="data, dataIdx : ${dataList}" th:if="${row.id == data?.wt?.id and col.daysNum == data?.cal?.daysNum}">
											<div th:data-id="${data.rsvtId}">
												<button type="button" name="rsvtSch" class="btn btn-sm" 
												 th:classappend="${data.picUsrNo eq '1' ? 'btn-outline-success' : (data.picUsrNo eq '2' ? 'btn-outline-primary' : 'btn-outline-secondary') }"
												style="padding-top:0px;padding-bottom:0px;margin-top:1px;" th:text="|${data.rsvtUsrNm} / ${data.rsvtCellNo}|">Small button</button>
											</div>
											</th:block>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="easyui-panel p-2" title="주간 예약스케쥴" style="width: 100%;overflow: hidden;"
						data-options="cls:'c2'">
						<div class="row" style="margin-bottom: 10px">
							<div class="col">
								<div style="text-align:right;">
									<a href="javascript:void(0)" class="easyui-linkbutton c1"
									id="btnNewChartView" name="btnNewChartView">상담하기</a>
								</div>
							</div>
						</div>
						<!-- <div class="row">
							<div class="col-sm-6">
								<button type="button" id="btnDeleteRsvtSch" name="btnDeleteRsvtSch" class="btn btn-danger btn-sm" style="display:none;">삭제하기</button>
							</div>
							<div class="col-sm-6 text-right">
								<button type="button" id="btnNewChartView"  name="btnNewChartView" class="btn btn-success btn-sm" style="display:none;">상담하기</button>
								<button type="button" id="btnSaveRsvtSch"   name="btnSaveRsvtSch"   class="btn btn-primary btn-sm">저장하기</button>
							</div>
					  	</div> -->
						<form id="rsvtForm" name="rsvtForm" method="post" autocomplete="off">
							<div class="easyui-panel mb-2 p-2" style="width:100%;overflow: hidden;">
								<div class="row" style="margin-bottom: 10px">
									<div class="col">
										<input class="easyui-datebox" name="rsvtDtYyyymmdd" id="rsvtDtYyyymmdd" 
												data-options="label:'예약일자',
															labelPosition:'left',
															formatter:myformatter,
															parser:myparser"
												style="width:240px;margin-right:20px;" placeholder="예약일자" tabindex="1">
										<select class="easyui-combobox" name="rsvtDtHh" id="rsvtDtHh" 
												data-options="panelHeight:'auto'"
												style="width:80px;height:auto;margin-right:20px;" tabindex="2">
											<option value="" selected>시</option>
											<option value="09">09시</option>
											<option value="10">10시</option>
											<option value="11">11시</option>
											<option value="12">12시</option>
											<option value="13">13시</option>
											<option value="14">14시</option>
											<option value="15">15시</option>
											<option value="16">16시</option>
											<option value="17">17시</option>
										</select>
										<select class="easyui-combobox" name="rsvtDtMm" id="rsvtDtMm" 
												data-options="panelHeight:'auto'"
												style="width:80px;margin-right:20px;" tabindex="3">
											<option value="" selected>분</option>
											<option value="00">00분</option>
											<option value="10">10분</option>
											<option value="20">20분</option>
											<option value="30">30분</option>
											<option value="40">40분</option>
											<option value="50">50분</option>
										</select>
									</div>
								</div>
								<div class="row" style="margin-bottom: 10px">
									<div class="col">
										<label style="margin-right: 35px;">상담구분</label>
										<input class="easyui-radiobutton" name="rsvtTpCd" id="rsvtTpCd1" label="전화" labelWidth="50" labelPosition="after" value="C" tabindex="4">
										<input class="easyui-radiobutton" name="rsvtTpCd" id="rsvtTpCd2" label="방문" labelWidth="50" labelPosition="after" value="R" tabindex="5">
									</div>
								</div>
								<div class="row" style="margin-bottom: 10px">
									<div class="col">
										<input class="easyui-textbox" data-options="label:'예약자성명'"
											   id="rsvtUsrNm" name="rsvtUsrNm" maxlength="20" placeholder="예약자성명" tabindex="6"
											   style="width:240px;margin-right:30px;">
									</div>
								</div>
								<div class="row" style="margin-bottom: 10px">
									<div class="col">
										<label style="margin-right: 24px;">예약자성별</label>
										<input class="easyui-radiobutton" name="genTpCd" id="genTpCd1" label="여성" labelWidth="50" labelPosition="after" value="F" tabindex="7">
										<input class="easyui-radiobutton" name="genTpCd" id="genTpCd2" label="남성" labelWidth="50" labelPosition="after" value="M" tabindex="8">
									</div>
								</div>
								<div class="row" style="margin-bottom: 10px">
									<div class="col">
										<input class="easyui-textbox" data-options="label:'예약자 연락처'"
											   id="rsvtCellNo" name="rsvtCellNo" maxlength="13" placeholder="예약자 휴대전화번호" tabindex="9"
											   style="width:240px;margin-right:30px;">
									</div>
								</div>
								<div class="row" style="margin-bottom: 10px">
									<div class="col">
										<input class="easyui-textbox" id="rcmdUsrNm" name="rcmdUsrNm" maxlength="20" tabindex="10"
										       data-options="label:'추천인 정보',
										                     prompt:'추천인명'"
											   style="width:240px;margin-right:30px;">
										<input class="easyui-textbox"  id="rcmdCellNo" name="rcmdCellNo" maxlength="13" tabindex="11"
										       data-options="prompt:'추천인 연락처'"
											   style="width:160px;margin-right:30px;">
										<input type="hidden" id="rcmdUsrNo"  name="rcmdUsrNo" tabindex="12" > 
									</div>
								</div>
								<div class="row" style="margin-bottom: 10px">
									<div class="col">
										<textarea class="easyui-textbox"  id="rsvtDest" name="rsvtDesc"
												data-options="label:'예약메모',multiline:true"
												style="width: 100%;height: 150px;padding: 5px;" tabindex="13" > 
										</textarea>
									</div>
								</div>
								<div class="row" style="margin-bottom: 10px">
									<div class="col">
										<select class="easyui-combobox" name="picUsrNo" id="picUsrNo" 
												data-options="panelHeight:'auto',
															  label:'담당한약사'"
												style="width:240px;height:auto;margin-right:20px;" tabindex="14">
											<option value=""  th:selected="${''  eq schInfo?.picUsrNo}">선택하세요</option>
											<option th:each="data, index : ${chemistList}" 
														th:value="${data?.usrNo}" 
														th:text="${data?.usrNm}" 
														th:selected="${data?.usrNo eq schInfo?.picUsrNo}">선택하세요</option>
										</select>
									</div>
								</div>
								<div class="row" style="margin-bottom: 10px">
									<div class="col">
										<input class="easyui-textbox" id="rsvtId" name="rsvtId"
												th:value="${schInfo?.rsvtId}"
												data-options="label:'예약번호',
												              prompt:'예약번호',
												              readonly:true"
											   	style="width:240px;margin-right:30px;" tabindex="15">
										<input class="easyui-textbox" id="custId" name="custId"
												th:value="${schInfo?.custId}"
												data-options="label:'고객번호',
												              prompt:'고객번호',
												              readonly:true"
											   	style="width:240px;margin-right:30px;" tabindex="16">
									</div>
								</div>
							</div>
						</form>
						
						<div class="row">
							<div class="col" style="text-align:left;">
								<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" 
									id="btnDeleteRsvtSch" name="btnDeleteRsvtSch">삭제하기</a>
							</div>
							<div class="col" style="text-align:right;">
								<a href="javascript:void(0)" class="easyui-linkbutton c6" data-options="iconCls:'icon-ok'" 
									id="btnSaveRsvtSch" name="btnSaveRsvtSch">저장하기</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<!-- customer dialog -->
	<div id="custDlg" class="easyui-dialog" style="width:90%;height:850px;padding:10px;display: none;" data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons'">
	</div>
	
	<div id="searchRsvtDlg" class="easyui-dialog" style="width:600px;height:400px;padding:10px;" data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons'">
		<table id="searchRsvtTable" style="width:100%;height:290px;"></table>
	</div>
</div>
</html>
