<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
<div id="customer-table" th:fragment="customer-table">
    <form id="saveCustFrm" name="saveCustFrm" method="post">
    <input type="hidden" name="dlg_delYn" th:value="${#strings.isEmpty(custInfo?.delYn)} ? 'N' : ${custInfo?.delYn}">
    <input type="hidden" name="dlg_rcmdCustId" th:value="${custInfo?.rcmdCustId}">
	<div class="row">
		<div class="col-md-6">
			<div class="row p-2">
				<div class="easyui-panel" title="기본정보" style="width: 100%;min-height: 150px;"
					 data-options="collapsible:true">
					<div class="row m-2">
						<div class="col">
							<input name="dlg_custId" class="easyui-textbox" style="width: 100%;text-align: center;"
								   data-options="label:'고객번호',labelWidth:120,required:true,readonly:true"
								   th:value="${#strings.isEmpty(custInfo?.custId)} ? 0:${custInfo?.custId}">
						</div>
						<div class="col">
							<input class="easyui-textbox" style="width: 100%;text-align: center;"
									data-options="label:'예약번호',labelWidth:120,readonly:true"
									th:value="${rsvtInfo?.rsvtId}" th:if="${rsvtInfo?.rsvtId > 0}">
							<input type="hidden" name="dlg_rsvtId" style="width: 100%;text-align: center;"
									th:value="${rsvtInfo?.rsvtId}">
						</div>
					</div>
					<div class="row m-2">
						<div class="col">
							<input name="dlg_custUsrNm" class="easyui-textbox" style="width: 100%;"
								   data-options="label:'고객이름 *',labelWidth:120,required:true"
								   th:value="${#strings.isEmpty(custInfo?.custUsrNm)} ? ${rsvtInfo?.rsvtUsrNm}:${custInfo?.custUsrNm}">
						</div>
						<div class="col">
							<input name="dlg_custCellNo" class="easyui-textbox" style="width: 100%;"
								   data-options="label:'휴대폰번호 *',labelWidth:120,required:true"
								   th:value="${#strings.isEmpty(custInfo?.custCellNo)} ? ${rsvtInfo?.rsvtCellNo}:${custInfo?.custCellNo}">
						</div>
					</div>
					<div class="row m-2">
						<div class="col">
							<input name="dlg_custBirthDt" class="easyui-numberbox" style="width: 100%"
								   data-options="label:'생년월일 *',labelWidth:120,
								                 prompt:'예시)20210101',
												 validType:'length[0,8]',
												 required:true"
								   th:value="${custInfo?.custBirthDt}">
						</div>
						<div class="col">
							<div class="form-inline pt-1">
								<label style="margin-right: 90px;">성별 *</label>
								<input name="dlg_custGenTpCd" class="easyui-radiobutton"
									   data-options="label:'여성',labelWidth:60,labelPosition:'after',required:true"
									   value="F"
									   th:checked="${#strings.isEmpty(custInfo?.custGenTpCd)} ? ${'F' eq rsvtInfo?.genTpCd} : ${'F' eq custInfo?.custGenTpCd}">
								<input name="dlg_custGenTpCd" class="easyui-radiobutton"
									   data-options="label:'남성',labelWidth:60,labelPosition:'after',required:true"
									   value="M"
									   th:checked="${#strings.isEmpty(custInfo?.custGenTpCd)} ? ${'M' eq rsvtInfo?.genTpCd} : ${'M' eq custInfo?.custGenTpCd}">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row p-2">
				<div class="easyui-panel" title="결혼정보" style="width: 100%;min-height: 150px;"
					 data-options="collapsible:true">
					<div class="row m-2">
						<div class="col">
							<div class="form-inline pt-1">
								<label style="margin-right: 70px;">결혼유무</label>
								<input name="dlg_mrgYn" class="easyui-radiobutton"
									   data-options="label:'미혼',labelWidth:60,labelPosition:'after'" 
									   value="N"
									   th:checked="${'N' eq custInfo?.mrgYn}">
								<input name="dlg_mrgYn" class="easyui-radiobutton"
									   data-options="label:'기혼',labelWidth:60,labelPosition:'after'" 
									   value="Y"
									   th:checked="${'Y' eq custInfo?.mrgYn}">
							</div>
						</div>
						<div class="col">
						</div>
					</div>
					<div class="row m-2">
						<div class="col">
							<input name="dlg_pcrtChdCnt" class="easyui-numberspinner" style="width: 100%"
								   th:value="${custInfo?.pcrtChdCnt}"
								   data-options="label:'출산자녀수',labelWidth:120,min:1,max:20">
						</div>
						<div class="col">
							<input name="dlg_lstPcrtYear" class="easyui-numberspinner" style="width: 100%"
								   th:value="${custInfo?.lstPcrtYear}"
								   data-options="label:'마지막 출산년도',labelWidth:120,min:1950,max:2050">
						</div>
					</div>
					<div class="row m-2">
						<div class="col">
							<div class="form-inline pt-1">
								<label style="margin-right: 70px;">모유수유</label>
								<input name="dlg_brstFdgYn" class="easyui-radiobutton"
									   data-options="label:'예',labelWidth:60,labelPosition:'after'" 
									   value="Y"
									   th:checked="${'Y' eq custInfo?.brstFdgYn}">
								<input name="dlg_brstFdgYn" class="easyui-radiobutton"
									   data-options="label:'아니오',labelWidth:60,labelPosition:'after'" 
									   value="N"
									   th:checked="${'N' eq custInfo?.brstFdgYn}">
							</div>
						</div>
						<div class="col">
						</div>
					</div>
				</div>
			</div>
			<div class="row p-2">
				<div class="easyui-panel" title="추천인정보" style="width: 100%;min-height: 150px;"
					 data-options="collapsible:true">
					<div class="row m-2">
						<div class="col-12">
							<input name="dlg_rcmdCustNm" class="easyui-textbox" style="width: 100%;"
								   data-options="label:'추천인 이름',labelWidth:120"
								   th:value="${custInfo?.rcmdCustNm}">
						</div>
					</div>
					<div class="row m-2">
						<div class="col-12">
							<input name="dlg_rcmdCellNo" class="easyui-textbox" style="width: 100%;"
								   data-options="label:'추천인 연락처',labelWidth:120"
								   th:value="${custInfo?.rcmdCellNo}">
						</div>
					</div>
				</div>
			</div>
			<div class="row p-2">
				<div class="easyui-panel" title="마일리지" style="width: 100%;min-height: 150px;"
					 data-options="collapsible:true">
					<div class="row m-2">
						<div class="col-12">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row p-2">
				<div class="easyui-panel" title="주소정보" style="width: 100%;min-height: 150px;"
					 data-options="collapsible:true">
					<div class="row m-2">
						<div class="col">
							<input id="zipCode" name="dlg_zipCode" class="easyui-textbox" style="width: 200px;"
								   data-options="label:'우편번호',labelWidth:120,labelPosition:'before'"
								   th:value="${custInfo?.zipCode}">
							<a href="#" class="easyui-linkbutton ml-2" data-options="iconCls:'icon-search'" style="width: 130px;" onclick="fnZipCode();">우편번호 찾기</a>
						</div>
					</div>
					<div class="row m-2">
						<div class="col-12">
							<input id="addr1" name="dlg_addr1" class="easyui-textbox" style="width: 100%;"
								   data-options="label:'주소',labelWidth:120"
								   th:value="${custInfo?.addr1}">
						</div>
					</div>
					<div class="row m-2">
						<div class="col-12">
							<input id="addr2" name="dlg_addr2" class="easyui-textbox" style="width: 100%;"
								   data-options="label:'상세주소',labelWidth:120"
								   th:value="${custInfo?.addr2}">
						</div>
					</div>
				</div>
			</div>
			<div class="row p-2">
				<div class="easyui-panel" title="고객메모" style="width: 100%;min-height: 150px;"
					 data-options="collapsible:true">
					<div class="row m-2">
						<div class="col-12">
							<input name="dlg_custMemo" class="easyui-textbox" style="width: 100%;height: 100px;"
								   data-options="multiline:true"
								   th:value="${custInfo?.custMemo}">
						</div>
					</div>
				</div>
			</div>
			<div class="row p-2">
				<div class="easyui-panel" title="특이사항" style="width: 100%;min-height: 150px;"
					 data-options="collapsible:true">
					<div class="row m-2">
						<div class="col-12">
							<input name="dlg_custMemo2" class="easyui-textbox" style="width: 100%;height: 100px;"
								   data-options="multiline:true"
								   th:value="${custInfo?.custMemo2}">
						</div>
					</div>
				</div>
			</div>
			<div class="row p-2">
				<div class="easyui-panel" title="내원경로" style="width: 100%;min-height: 150px;"
					 data-options="collapsible:true">
					<div class="row m-2">
						<div class="col-12">
							<input name="dlg_vistTpCd" class="easyui-radiobutton"
								   data-options="label:'지인소개',labelWidth:170,labelPosition:'after'"
								   value="1"
								   th:checked="${'1' eq custInfo?.vistTpCd}">
						</div>
					</div>
					<div class="row m-2">
						<div class="col-12">
							<input name="dlg_vistTpCd" class="easyui-radiobutton"
								   data-options="label:'홈페이지',labelWidth:170,labelPosition:'after'"
								   value="2"
								   th:checked="${'2' eq custInfo?.vistTpCd}">
						</div>
					</div>
					<div class="row m-2">
						<div class="col-12">
							<input name="dlg_vistTpCd" class="easyui-radiobutton"
								   data-options="label:'카카오톡 검색창',labelWidth:170,labelPosition:'after'"
								   value="3"
								   th:checked="${'3' eq custInfo?.vistTpCd}">
						</div>
					</div>
					<div class="row m-2">
						<div class="col-12">
							<input name="dlg_vistTpCd" class="easyui-radiobutton"
								   data-options="label:'블로그 및 인터넷',labelWidth:170,labelPosition:'after'"
								   value="4"
								   th:checked="${'4' eq custInfo?.vistTpCd}">
						</div>
					</div>
					<div class="row m-2">
						<div class="col-12">
							<input name="dlg_vistTpCd" class="easyui-radiobutton"
								   data-options="label:'기타',labelWidth:170,labelPosition:'after'"
								   value="5"
								   th:checked="${'5' eq custInfo?.vistTpCd}">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    </form>
	<div class="row d-flex justify-content-end p-2">
		<a href="javascript:void(0)" id="btnSaveCustomer" class="easyui-linkbutton c6" data-options="iconCls:'icon-ok'">저장</a>
		<a href="javascript:void(0)" class="easyui-linkbutton ml-2" data-options="iconCls:'icon-cancel'" onclick="javascript:$('#custDlg').dialog('close');">닫기</a>
	</div>

    <div id="layer" style="display:none;position:fixed;overflow:hidden;z-index:1;-webkit-overflow-scrolling:touch;">
        <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnCloseLayer" style="cursor:pointer;position:absolute;right:-3px;top:-3px;z-index:1" onclick="closeDaumPostcode()" alt="닫기 버튼">
    </div>
</div>