<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<script type="text/javascript" th:src="@{/js/main/RS1001PU02.js}"></script>
<script type="text/javascript" th:inline="javascript">
	var cnstList  = /*[[${cnstList}]]*/'';
	var selectParam01 = {
		"Y": "예", 
		"N":"아니요"
	};
	var selectParam02 = {
		"N" : "",
		"Y": "예"
	};
	var selectParam03 = {
		"0": "복용 시작전", 
		"1": "1단계(선식3일)",
		"2": "2단계(안정기)", 
		"3": "3단계(1주)", 
		"4": "3단계(2주)", 
		"5": "3단계(3주)", 
	};
	var picUsrList = {
		"1" : "박정란",
		"2" : "황진영"
	};
</script>
<style>
	#surveyTbl.table th, #surveyTbl.table td { 
		padding:0.25em; 
		padding-right:10px !important; 
		vertical-align: middle;
	}
	</style>
<div class="modal-header">
	<h5 class="modal-title">상담하기</h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-sm-12">
			<div class="card card-primary card-outline card-outline-tabs">
				<div class="card-header p-0 border-bottom-0">
					<ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="pill"
								href="#custom-tabs-four-home" role="tab" aria-controls="custom-tabs-four-home"
								aria-selected="true">고객정보</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="custom-tabs-four-profile-tab" data-toggle="pill"
								href="#custom-tabs-four-profile" role="tab" aria-controls="custom-tabs-four-profile"
								aria-selected="false">차트정보</a>
						</li>
					</ul>
				</div>
				<div class="card-body">
					<div class="tab-content" id="custom-tabs-four-tabContent">
						<div class="tab-pane fade active show" id="custom-tabs-four-home" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
							<div th:replace="main/RS1001PU03 :: customer-table"></div>
						</div>
						<div class="tab-pane fade" id="custom-tabs-four-profile" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">
							<div th:replace="main/RS1001PU04 :: charts-table"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</html>