    <div class="modal-header">
        <h5 class="modal-title">예약 스케쥴 등록</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table-sm table table-borderless">
			<colgroup>
				<col width="15%"/>
				<col width="35%"/>
				<col width="15%"/>
				<col width="35%"/>
			</colgroup>
			<tbody>
				<tr>
					<th>예약일시</th>
					<td>
						<div class="input-group input-group-sm">
							<input type="text" id="rsvtDt" class="form-control datetimepicker" th:value="${#dates.format( schInfo?.rsvtDt, 'YYYY-MM-dd HH:mm')}" >
						</div>
					</td>
					<th>상담구분</th>
					<td>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="rsvtTpCd" id="rsvtTpCd1" value="C"   th:checked="${'C' eq schInfo?.rsvtTpCd}">
							<label class="form-check-label" for="inlineRadio1">전화</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="rsvtTpCd" id="rsvtTpCd2" value="R"  th:checked="${'R' eq schInfo?.rsvtTpCd}">
							<label class="form-check-label" for="inlineRadio2">예약방문</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="rsvtTpCd" id="rsvtTpCd3" value="D"  th:checked="${'D' eq schInfo?.rsvtTpCd}">
							<label class="form-check-label" for="inlineRadio3">당일방문</label>
						</div>
					</td>
				</tr>
				<tr>
					<th>이름</th>
					<td>
						<div class="input-group input-group-sm">
							<input type="text" id="rsvtUsrNm" class="form-control" th:value="${schInfo.rsvtUsrNm}" >
						</div>
					</td>
					<th>성별</th>
					<td>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="genTpCd" id="genTpCd1" value="F"  th:checked="${'F' eq schInfo?.genTpCd}">
							<label class="form-check-label" for="chkGender1">여성</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" name="genTpCd" id="genTpCd2" value="M"  th:checked="${'M' eq assignInfo?.genTpCd}">
							<label class="form-check-label" for="chkGender2">남성</label>
						</div>
					</td>
				</tr>
				<tr>
					<th>휴대전화번호</th>
					<td>
						<div class="input-group input-group-sm">
							<input type="text" id="rsvtCellNo" class="form-control" th:value="${schInfo.rsvtCellNo}" >
						</div>
					</td>
					<th>전화번호</th>
					<td>
						<div class="input-group input-group-sm">
							<input type="text" id="rsvtPhnNo" class="form-control" th:value="${schInfo.rsvtPhnNo}" >
						</div>
					</td>
				</tr>
				<tr>
					<th>지인소개</th>
					<td colspan="3">
						<div class="row">
							<div class="input-group input-group-sm col-3">
								<input type="text" class="form-control">
							</div>
							<div class="input-group input-group-sm col-3">
								<input type="text" class="form-control">
							</div>										
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="4">
						<div class="form-group">
						    <textarea class="form-control" id="rsvtDesc" rows="6"></textarea>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>