<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
<div id="charts-table" th:fragment="charts-table">
	<div class="row">
		<div class="col-md-4">
			<div class="row p-2">
				<div class="easyui-panel" title="상담차트" style="width: 100%;min-height: 300px;"
					 data-options="collapsible:true">
					<div class="row m-2">
						<div class="col">
							<input name="selectedCustId" class="easyui-textbox" style="width: 200px;text-align: center;"
								   data-options="label:'고객번호',required:true,readonly:true"
								   th:value="${#strings.isEmpty(custInfo?.custId)} ? ${rsvtInfo?.rsvtUsrNm}:${custInfo?.custId}">
							<a href="#" id="btnNewCnstChart" class="easyui-linkbutton c8 ml-2" data-options="iconCls:'icon-edit'" style="width: 120px;">상담차트 생성</a>
						</div>
					</div>
					<div class="row m-2">
						<table id="dg" style="width: 100%;min-height: 300px;"></table>
					</div>
				</div>
			</div>
			<div class="row p-2">
				<div class="easyui-panel" title="메모" style="width: 100%;min-height: 200px;"
					 data-options="collapsible:true">
					 <textarea style="width: 100%;min-height: 200px;border: 0;"></textarea>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="row p-2">
				<div class="easyui-tabs" style="width: 100%;min-height: 500px;"
			 		 data-options="pill:true,tabWidth:120">
			 		 <div title="설문차트" class="p-2">
			 		 	<table></table>
			 		 </div>
			 		 <div title="복용차트" class="py-2">
	 		 			<form id="saveCnstFrm" name="saveCnstFrm" method="post">
			 		 	<div class="row mb-2">
			 		 		<div class="col-md-12 form-inline">
								<input name="selectedCnstId" class="easyui-textbox" style="width: 200px;text-align: center;"
									   data-options="
									   		label:'상담번호',
									   		required:true,
									   		readonly:true">
			 		 			<input name="cnstDt" class="easyui-textbox" style="width: 200px;text-align: center;"
									   data-options="
									   		label:'상담일시',
									   		labelPosition:'left',
									   		required:true,
									   		readonly:true">
			 		 			<input name="orgWgt" class="easyui-textbox" style="width: 200px;"
									   data-options="
									   		label:'시작체중',
									   		labelPosition:'left'">
			 		 			<input name="tgtWgt" class="easyui-textbox" style="width: 200px;"
									   data-options="
									   		label:'희망체중',
									   		labelPosition:'left'">
			 		 			<input name="startDosgDt" class="easyui-datebox" style="width: 200px;"
									   data-options="
									   		label:'복용시작일자',
									   		formatter:myformatter,
									   		parser:myparser">
								<a href="javascript:void(0)" id="btnNewDosgChart" class="easyui-linkbutton c8 ml-3" style="width:120px;"
								   data-options="iconCls:'icon-edit'">복용차트 생성</a>
			 		 		</div>
			 		 	</div>
	 		 			</form>
			 		 	<table id="dg2" style="width: 100%;min-height: 500px;"></table>
			 		 </div>
				</div>
			</div>
		</div>
	</div>
    <hr>
	<div class="row">
		<div class="col-md-12 d-flex justify-content-end">
			<a href="javascript:void(0)" id="btnSaveCnstChart" class="easyui-linkbutton c6" data-options="iconCls:'icon-ok'">저장</a>
		</div>
	</div>
</div>