<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
<div id="charts-table" th:fragment="charts-table">
	<div class="row">
		<div class="col-md-4">
			<div class="row p-2">
				<div class="easyui-panel" title="상담차트" style="width: 100%;min-height: 300px;"
					 data-options="collapsible:true">
					<div class="row m-2">
						<div class="col">
							<input name="selectedCustId" class="easyui-textbox" style="width: 200px;text-align: center;"
								   data-options="label:'고객번호',required:true,readonly:true"
								   th:value="${#strings.isEmpty(custInfo?.custId)} ? ${rsvtInfo?.rsvtUsrNm}:${custInfo?.custId}">
							<a href="javascript:void(0);" id="btnNewCnstChart" class="easyui-linkbutton c8 ml-2" data-options="iconCls:'icon-edit'" style="width: 120px;">상담차트 생성</a>
							<a href="javascript:void(0);" id="btnDelCnstChart" class="easyui-linkbutton ml-2" data-options="iconCls:'icon-cut'" style="width: 120px;">상담차트 삭제</a>
						</div>
					</div>
					<div class="row m-2">
						<table id="dg" style="width: 100%;min-height: 300px;"></table>
					</div>
				</div>
			</div>
			<div class="row p-2">
				<div class="easyui-panel" title="상담내용" style="width: 100%;min-height: 200px;"
					 data-options="collapsible:true">
					 <textarea id="cnstDesc" class="easyui-textbox" style="width: 100%;height: 300px;padding: 5px;"
					 		data-options="multiline:true"></textarea>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="row p-2">
				<div class="easyui-panel" title="상담정보" style="width: 100%;min-height: 80px;"
					 data-options="collapsible:true">
					<form id="saveCnstFrm" name="saveCnstFrm" method="post">
					<input type="hidden" name="selectedIndex">
					<div class="row m-2">
						<div class="col-md-2 form-inline">
							<input name="selectedCnstId" class="easyui-textbox" style="width: 100%;text-align: center;"
								   data-options="
								   		label:'상담번호 *',
								   		required:true,
								   		readonly:true">
						</div>
						<div class="col-md-2">
		 		 			<input name="cnstDt" class="easyui-textbox" style="width: 100%;text-align: center;"
								   data-options="
								   		label:'상담일시 *',
								   		labelPosition:'left',
								   		required:true,
								   		readonly:true">
						</div>
						<div class="col-md-2">
		 		 			<select name="picUsrNo" class="easyui-combobox" style="width: 100%;text-align: center;"
								   data-options="
								   		label:'상담한약사',
								   		labelPosition:'left',
								   		required:true">
								<option value="">선택</option>
								<option value="1">박정란</option>
								<option value="2">황진영</option>
								<option value="8">곽경준</option>
							</select>
						</div>
						<div class="col-md-2">
		 		 			<select name="pic2UsrNo" class="easyui-combobox" style="width: 100%;text-align: center;"
								   data-options="
								   		label:'상담실장',
								   		labelPosition:'left',
								   		required:true">
								<option value="">선택</option>
								<option value="1">박정란</option>
								<option value="2">황진영</option>
								<option value="8">곽경준</option>
							</select>
						</div>
						<div class="col-md-3 form-inline">
		 		 			<select name="dosgTpCd" class="easyui-combobox" style="width: 100%;text-align: center;"
								   data-options="
								   		label:'복용유형',
								   		labelPosition:'left'">
							</select>
						</div>
						<div class="col-md-1">
						</div>
					</div>
					<div class="row m-2">
						<div class="col-md-2 form-inline">
		 		 			<select name="cnstHhCd" class="easyui-combobox" style="width: 100%;text-align: center;"
								   data-options="
								   		label:'상담가능시간',
								   		labelPosition:'left',
								   		required:true">
								<option value="">시</option>
								<option value="09">09시</option>
								<option value="10">10시</option>
								<option value="11">11시</option>
								<option value="12">12시</option>
								<option value="13">13시</option>
								<option value="14">14시</option>
								<option value="15">15시</option>
								<option value="16">16시</option>
								<option value="17">17시</option>
								<option value="18">18시</option>
							</select>
						</div>
						<div class="col-md-6">
		 		 			<input name="cnstHhMemo" class="easyui-textbox" style="width: 100%;"
								   data-options="
								   		label:'상담시간메모',
								   		labelPosition:'left'">
						</div>
						<div class="col-md-2">
							<a href="javascript:void(0)" id="btnSaveCnstChart" class="easyui-linkbutton c6" data-options="iconCls:'icon-ok'">상담차트 저장</a>
						</div>
					</div>
					</form>
				</div>
			</div>
			<div class="row p-2">
				<div class="easyui-tabs" style="width: 100%;min-height: 500px;"
			 		 data-options="tabWidth:120">
			 		 <div title="설문차트" class="py-2" style="overflow: hidden;">
			 		 	<!-- <div class="row mb-2">
			 		 		<div class="col-md-12 d-flex justify-content-end">
			 		 			<a href="javascript:void(0)" id="btnSaveSurvChart" class="easyui-linkbutton c6" data-options="iconCls:'icon-ok'">설문차트 저장</a>
			 		 		</div>
			 		 	</div> -->
			 		 	<form id="saveSurvFrm" name="saveSurvFrm" method="post">
			 		 	<div style="height: 550px;overflow: auto;">
				 		 	<table class="table table-sm table-hover">
				 		 		<thead>
				 		 			<tr>
				 		 				<th scope="col" class="table-info" style="width: 100px;">#번호</th>
				 		 				<th scope="col" class="table-info" style="width: 250px;">#질문</th>
				 		 				<th scope="col" class="table-info">#답변</th>
				 		 			</tr>
				 		 		</thead>
				 		 		<tbody id="cnstPaper">
				 		 		</tbody>
				 		 	</table>
			 		 	</div>
			 		 	</form>
			 		 </div>
			 		 <div title="복용차트" class="py-2" style="overflow: hidden;">
	 		 			<form id="saveDosgFrm" name="saveDosgFrm" method="post">
			 		 	<div class="row mb-2">
			 		 		<div class="col-md-10 form-inline">
			 		 			<input name="orgWgt" class="easyui-numberbox" style="width: 200px;"
									   data-options="
									   		label:'시작체중',
									   		labelPosition:'left'">
			 		 			<input name="tgtWgt" class="easyui-numberbox" style="width: 200px;"
									   data-options="
									   		label:'희망체중',
									   		labelPosition:'left'">
			 		 			<input name="startDosgDt" class="easyui-datebox" style="width: 200px;"
									   data-options="
									   		label:'복용시작일자',
									   		formatter:myformatter,
									   		parser:myparser">
								<a href="javascript:void(0)" id="btnNewDosgChart" class="easyui-linkbutton c8 ml-2" style="width:120px;"
								   data-options="iconCls:'icon-edit'">복용차트 생성</a>
			 		 		</div>
			 		 		<div class="col-md-2 d-flex justify-content-end">
			 		 		</div>
			 		 	</div>
	 		 			</form>
			 		 	<table id="dg2" style="width: 100%;min-height: 450px;"></table>
			 		 </div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- dosg dialog -->
	<div id="dosgDlg" class="easyui-dialog" style="width:700px;min-height:430px;padding:10px;" data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons'">
		<form id="dosgDlgFrm" method="post" novalidate>
		<input type="hidden" name="dlg_dosgId">
		<div class="row">
			<div class="col-md-4 p-2">
				<input name="dlg_seqStr" class="easyui-textbox" style="width: 100%"
					   data-options="label:'일수 *',required:true,readonly:true">
			</div>
			<div class="col-md-4 p-2">
				<input name="dlg_dosgTpCd" class="easyui-textbox" style="width: 100%"
					   data-options="label:'복용단계 *',required:true,readonly:true" >
			</div>
			<div class="col-md-4 p-2">
				<input name="dlg_dosgDt" class="easyui-datebox" style="width: 100%"
					   data-options="label:'복용일자',required:true,formatter:myformatter,parser:myparser">
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 p-2">
				<select name="dlg_callYn" class="easyui-combobox" data-options="label:'상담예약'" style="width: 100%;text-align: center;">
					<option value="">선택</option>
					<option value="CHEMIST">한약사</option>
					<option value="COUNSELOR">삼당실장</option>
				</select>
			</div>
			<div class="col-md-4 p-2">
				<select name="dlg_dosgYn" class="easyui-combobox" data-options="label:'복용여부'" style="width: 100%;text-align: center;">
					<option value="">선택</option>
					<option value="Y">예</option>
					<option value="N">아니요</option>
				</select>
			</div>
			<div class="col-md-4 p-2">
				<select name="dlg_pausYn" class="easyui-combobox" data-options="label:'보류여부'" style="width: 100%;text-align: center;">
					<option value="">선택</option>
					<option value="Y">예</option>
					<option value="N">아니요</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 p-2">
				<input name="dlg_currWgt" class="easyui-numberbox" data-options="label:'현재체중'" style="width: 100%">
			</div>
			<div class="col-md-4 p-2">
				<input name="dlg_lossWgt" class="easyui-numberbox" data-options="label:'감량체중'" style="width: 100%">
			</div>
			<div class="col-md-4 p-2">
				<input name="dlg_rmiWgt" class="easyui-numberbox" data-options="label:'남은체중'" style="width: 100%">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 p-2">
				<input name="dlg_dosgDesc1" class="easyui-textbox" data-options="label:'몸상태',multiline:true" style="width: 100%;height:80px">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 p-2">
				<input name="dlg_dosgDesc2" class="easyui-textbox" data-options="label:'약반응',multiline:true" style="width: 100%;height:80px">
			</div>
		</div>
		</form>
		<hr>
		<div class="row py-2">
			<div class="col-md-12 d-flex justify-content-end">
				<a href="javascript:void(0)" id="btnSaveDosgChart" class="easyui-linkbutton c6" data-options="iconCls:'icon-ok'">저장</a>
				<a href="javascript:void(0)" class="easyui-linkbutton ml-2" data-options="iconCls:'icon-cancel'" onclick="javascript:$('#dosgDlg').dialog('close');">닫기</a>
			</div>
		</div>
	</div>
</div>