<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div id="customer-table" th:fragment="customer-table"
	th:with="
		birthYear=${not #strings.isEmpty(custInfo?.custBirthDt) and #strings.length(custInfo?.custBirthDt) eq 8} ? ${#numbers.formatInteger(#strings.substring(custInfo?.custBirthDt,0,4),0)}:0,
		thisYear=${#dates.year(#dates.createNow()) + 1}">
	<div class="row">
		<div class="col-12 d-flex justify-content-end">
			<a href="javascript:void(0)" id="btnSaveCustomer" class="easyui-linkbutton c6" data-options="iconCls:'icon-ok'">고객정보 저장</a>
			<a href="javascript:void(0)" class="easyui-linkbutton ml-2" data-options="iconCls:'icon-cancel'" onclick="javascript:$('#custDlg').dialog('close');">닫기</a>
		</div>
	</div>
    <form id="saveCustFrm" name="saveCustFrm" method="post">
    <input type="hidden" name="dlg_delYn" th:value="${#strings.isEmpty(custInfo?.delYn)} ? 'N' : ${custInfo?.delYn}">
    <input type="hidden" name="dlg_rcmdCustId" th:value="${custInfo?.rcmdCustId}">
	<div class="row">
		<div class="col-md-6">
			<div class="row p-1">
				<div class="easyui-panel" title="기본정보" style="width: 100%;min-height: 150px;"
					 data-options="collapsible:true">
					<div class="row m-2">
						<div class="col-6">
							<input name="dlg_custId" class="easyui-textbox" style="width: 100%;text-align: center;"
								   data-options="label:'고객번호',labelWidth:110,required:true,readonly:true"
								   th:value="${#strings.isEmpty(custInfo?.custId)} ? 0:${custInfo?.custId}">
						</div>
						<div class="col-6">
							<input class="easyui-textbox" style="width: 100%;text-align: center;"
									data-options="label:'예약번호',labelWidth:110,readonly:true"
									th:value="${rsvtInfo?.rsvtId}" th:if="${rsvtInfo?.rsvtId > 0}">
							<input type="hidden" name="dlg_rsvtId" style="width: 100%;text-align: center;"
									th:value="${rsvtInfo?.rsvtId}">
						</div>
					</div>
					<div class="row m-2">
						<div class="col-6">
							<input name="dlg_custUsrNm" class="easyui-textbox" style="width: 100%;"
								   data-options="label:'고객이름 *',labelWidth:110,required:true"
								   th:value="${#strings.isEmpty(custInfo?.custUsrNm)} ? ${rsvtInfo?.rsvtUsrNm}:${custInfo?.custUsrNm}">
						</div>
						<div class="col-6">
							<input name="dlg_custCellNo" class="easyui-textbox" style="width: 100%;"
								   data-options="label:'휴대폰번호 *',labelWidth:110,required:true"
								   th:value="${#strings.isEmpty(custInfo?.custCellNo)} ? ${rsvtInfo?.rsvtCellNo}:${custInfo?.custCellNo}">
						</div>
					</div>
					<div class="row m-2">
						<div class="col-6">
							<div class="input-group">
								<input name="dlg_custBirthYy" class="easyui-numberbox" style="width: 210px;text-align: center;"
									   data-options="label:'생년월일',
													   labelWidth:110,
													   prompt : '년도 4자리',
													   validType:'length[0,4]'"
									   th:value="${not #strings.isEmpty(custInfo?.custBirthDt) and #strings.length(custInfo?.custBirthDt) eq 8} ? ${#strings.substring(custInfo?.custBirthDt,0,4)}:''">
								<div class="ml-2"></div>
								<select name="dlg_custBirthMm" class="easyui-combobox" style="width: 60px;text-align: center;">
									<option value="" selected="selected">월</option>
									<option th:each="data, index : ${birthMmList}"
											th:value="${data?.ditcCd}" 
											th:text="${data?.ditcNm}"
											th:selected="${not #strings.isEmpty(custInfo?.custBirthDt) and #strings.length(custInfo?.custBirthDt) eq 8 and data?.ditcCd eq #strings.substring(custInfo?.custBirthDt,4,6)}"></option>
								</select>
								<div class="ml-2"></div>
								<select name="dlg_custBirthDd" class="easyui-combobox" style="width: 60px;text-align: center;">
									<option value="" selected="selected">일</option>
									<option th:each="data, index : ${birthDdList}"
											th:value="${data?.ditcCd}" 
											th:text="${data?.ditcNm}"
											th:selected="${not #strings.isEmpty(custInfo?.custBirthDt) and #strings.length(custInfo?.custBirthDt) eq 8 and data?.ditcCd eq #strings.substring(custInfo?.custBirthDt,6,8)}"></option>
								</select>
							</div>
						</div>
						<div class="col-6">
							<div class="input-group pt-1">
								<label style="width: 120px;">성별 *</label>
								<input name="dlg_custGenTpCd" class="easyui-radiobutton"
									   data-options="label:'여성',labelWidth:60,labelPosition:'after',required:true"
									   value="F"
									   th:checked="${#strings.isEmpty(custInfo?.custGenTpCd)} ? ${'F' eq rsvtInfo?.genTpCd} : ${'F' eq custInfo?.custGenTpCd}">
								<input name="dlg_custGenTpCd" class="easyui-radiobutton"
									   data-options="label:'남성',labelWidth:60,labelPosition:'after',required:true"
									   value="M"
									   th:checked="${#strings.isEmpty(custInfo?.custGenTpCd)} ? ${'M' eq rsvtInfo?.genTpCd} : ${'M' eq custInfo?.custGenTpCd}">
							</div>
						</div>
					</div>
					<div class="row m-2">
						<div class="col-6">
							<input name="dlg_custAge" class="easyui-numberbox" style="width: 100%;text-align: center;"
								   data-options="label:'나이',labelWidth:110,validType:'length[0,3]'"
								   th:value="${custInfo?.custAge}">
						</div>
						<div class="col-6">
							<input name="dlg_custRegYear" class="easyui-numberbox" style="width: 210px;text-align: center;"
								   data-options="label:'등록년도',
												labelWidth:110,
												prompt : '년도 4자리',
												validType:'length[4,4]'"
								   th:value="${custInfo?.custRegYear}">
						</div>
					</div>
				</div>
			</div>
			<div class="row p-1">
				<div class="easyui-panel" title="고객메모" style="width: 100%;min-height: 150px;"
					 data-options="collapsible:true">
					<div class="row m-2">
						<div class="col-12">
							<input name="dlg_custMemo" class="easyui-textbox" style="width: 100%;height: 200px;"
								   data-options="multiline:true"
								   th:value="${custInfo?.custMemo}">
						</div>
					</div>
				</div>
			</div>
			<div class="row p-1">
				<div class="easyui-panel" title="특이사항" style="width: 100%;min-height: 150px;"
					 data-options="collapsible:true">
					<div class="row m-2">
						<div class="col-12">
							<input name="dlg_custMemo2" class="easyui-textbox" style="width: 100%;height: 180px;"
								   data-options="multiline:true"
								   th:value="${custInfo?.custMemo2}">
						</div>
					</div>
				</div>
			</div>
			<div class="row p-1" style="display: none;">
				<div class="easyui-panel" title="결혼정보" style="width: 100%;min-height: 150px;"
					 data-options="collapsible:true">
					<div class="row m-2">
						<div class="col-6">
							<div class="input-group pt-1">
								<label style="width: 120px;">결혼유무</label>
								<input name="dlg_mrgYn" class="easyui-radiobutton"
									   data-options="label:'미혼',labelWidth:60,labelPosition:'after'" 
									   value="N"
									   th:checked="${'N' eq custInfo?.mrgYn}">
								<input name="dlg_mrgYn" class="easyui-radiobutton"
									   data-options="label:'기혼',labelWidth:60,labelPosition:'after'" 
									   value="Y"
									   th:checked="${'Y' eq custInfo?.mrgYn}">
							</div>
						</div>
						<div class="col-6">
						</div>
					</div>
					<div class="row m-2">
						<div class="col-6">
							<select name="dlg_pcrtChdCnt" class="easyui-combobox" style="width: 100%;text-align: center;"
									data-options="label:'출산자녀수',labelWidth:110">
								<option value="" selected="selected">선택</option>
								<option th:each="data, index : ${childCntList}"
										th:value="${data?.ditcCd}" 
										th:text="${data?.ditcNm}"
										th:selected="${#strings.equals(data?.ditcCd, custInfo?.pcrtChdCnt)}"></option>
							</select>
						</div>
						<div class="col-6">
							<select name="dlg_lstPcrtYear" class="easyui-combobox" style="width: 100%;text-align: center;"
									data-options="label:'마지막 출산년도',labelWidth:110">
								<option value="" selected="selected">선택</option>
								<option th:each="data, index : ${pcrtYearList}"
										th:value="${data?.ditcCd}" 
										th:text="${data?.ditcNm}"
										th:selected="${data?.ditcCd eq custInfo?.lstPcrtYear}"></option>
							</select>
						</div>
					</div>
					<div class="row m-2">
						<div class="col-6">
							<div class="input-group pt-1">
								<label style="width: 120px;">모유수유</label>
								<input name="dlg_brstFdgYn" class="easyui-radiobutton"
									   data-options="label:'예',labelWidth:60,labelPosition:'after'" 
									   value="Y"
									   th:checked="${'Y' eq custInfo?.brstFdgYn}">
								<input name="dlg_brstFdgYn" class="easyui-radiobutton"
									   data-options="label:'아니오',labelWidth:60,labelPosition:'after'" 
									   value="N"
									   th:checked="${'N' eq custInfo?.brstFdgYn}">
							</div>
						</div>
						<div class="col-6">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row p-1">
				<div class="easyui-panel" title="주소정보" style="width: 100%;min-height: 150px;"
					 data-options="collapsible:true">
					<div class="row m-2">
						<div class="col-12">
							<input id="zipCode" name="dlg_zipCode" class="easyui-textbox" style="width: 200px;"
								   data-options="label:'우편번호',labelWidth:110,labelPosition:'before'"
								   th:value="${custInfo?.zipCode}">
							<a href="#" class="easyui-linkbutton ml-2" data-options="iconCls:'icon-search'" style="width: 130px;" onclick="fnZipCode();">우편번호 찾기</a>
						</div>
					</div>
					<div class="row m-2">
						<div class="col-12">
							<input id="addr1" name="dlg_addr1" class="easyui-textbox" style="width: 100%;"
								   data-options="label:'주소',labelWidth:110"
								   th:value="${custInfo?.addr1}">
						</div>
					</div>
					<div class="row m-2">
						<div class="col-12">
							<input id="addr2" name="dlg_addr2" class="easyui-textbox" style="width: 100%;"
								   data-options="label:'상세주소',labelWidth:110"
								   th:value="${custInfo?.addr2}">
						</div>
					</div>
				</div>
			</div>
			<div class="row p-1">
				<div class="easyui-panel" title="추천인정보 (나를 추천한 사람)" style="width: 100%;min-height: 120px;"
					 data-options="collapsible:true">
					<div class="row m-2">
						<div class="col-12">
							<input name="dlg_rcmdCustNm" class="easyui-textbox" style="width: 100%;"
								   data-options="label:'추천인 이름',labelWidth:110"
								   th:value="${custInfo?.rcmdCustNm}">
						</div>
					</div>
					<div class="row m-2">
						<div class="col-12">
							<input name="dlg_rcmdCellNo" class="easyui-textbox" style="width: 100%;"
								   data-options="label:'추천인 연락처',labelWidth:110"
								   th:value="${custInfo?.rcmdCellNo}">
						</div>
					</div>
				</div>
			</div>
			<div class="row p-1">
				<div class="easyui-panel" title="마일리지" style="width: 100%;min-height: 395px;"
					 data-options="collapsible:true">
					<div class="row m-2">
						<div class="col-8">
							<div class="easyui-panel" title="추천인 목록 (내가 추천한 사람)" style="width: 100%;min-height: 150px;">
								<table class="table table-bordered table-sm">
									<thead class="thead-light">
										<tr>
											<th scope="col" class="col-4">고개이름</th>
											<th scope="col" class="col-5">휴대폰번호</th>
											<th scope="col" class="col-3">마일리지 사용여부</th>
										</tr>
									</thead>
									<tbody id="rcmdIds">
										<tr th:each="data, index : ${rcmdMileList}">
											<th scope="row" class="col-4" th:text="${data?.custUsrNm}"></th>
											<td class="col-5" th:text="${data?.custCellNo}"></td>
											<td class="col-3" style="text-align: center;">
												<input class="easyui-checkbox" name="dlg_rcmdYn[]" th:value="${data?.custId}"
													th:checked="${data?.rcmdMileYn} eq 'Y'">
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-4">
							<div class="row">
								<div class="col-12">
									<a href="javascript:void(0)" id="btnCalcMileage" class="easyui-linkbutton c2" style="width: 100%;">마일리지 다시계산</a>
								</div>
							</div>
							<div class="row pt-2">
								<div class="col-12">
									<input name="dlg_mileage" class="easyui-numberbox" style="width: 100%;text-align: center;"
										   data-options="label:'마일리지 점수',labelWidth:110"
										   th:value="${custInfo?.mileage}">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row p-1" style="display: none;">
				<div class="easyui-panel" title="내원경로" style="width: 100%;min-height: 150px;"
					 data-options="collapsible:true">
					<div class="row m-2">
						<div class="col-12">
							<input name="dlg_vistTpCd" class="easyui-radiobutton"
								   data-options="label:'지인소개',labelWidth:170,labelPosition:'after'"
								   value="1"
								   th:checked="${'1' eq custInfo?.vistTpCd}">
						</div>
					</div>
					<div class="row m-2">
						<div class="col-12">
							<input name="dlg_vistTpCd" class="easyui-radiobutton"
								   data-options="label:'홈페이지',labelWidth:170,labelPosition:'after'"
								   value="2"
								   th:checked="${'2' eq custInfo?.vistTpCd}">
						</div>
					</div>
					<div class="row m-2">
						<div class="col-12">
							<input name="dlg_vistTpCd" class="easyui-radiobutton"
								   data-options="label:'카카오톡 검색창',labelWidth:170,labelPosition:'after'"
								   value="3"
								   th:checked="${'3' eq custInfo?.vistTpCd}">
						</div>
					</div>
					<div class="row m-2">
						<div class="col-12">
							<input name="dlg_vistTpCd" class="easyui-radiobutton"
								   data-options="label:'블로그 및 인터넷',labelWidth:170,labelPosition:'after'"
								   value="4"
								   th:checked="${'4' eq custInfo?.vistTpCd}">
						</div>
					</div>
					<div class="row m-2">
						<div class="col-12">
							<input name="dlg_vistTpCd" class="easyui-radiobutton"
								   data-options="label:'기타',labelWidth:170,labelPosition:'after'"
								   value="5"
								   th:checked="${'5' eq custInfo?.vistTpCd}">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    </form>

    <div id="layer" style="display:none;position:fixed;overflow:hidden;z-index:1;-webkit-overflow-scrolling:touch;">
        <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnCloseLayer" style="cursor:pointer;position:absolute;right:-3px;top:-3px;z-index:1" onclick="closeDaumPostcode()" alt="닫기 버튼">
    </div>
</div>