<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
	textarea.autosize { min-height: 50px; }
</th:block>

<div id="charts-table" th:fragment="charts-table">
	<div class="row">
		<div class="col-12 d-flex justify-content-end">
			<a href="javascript:void(0)" id="btnSaveCnstChart" class="easyui-linkbutton c6" data-options="iconCls:'icon-ok'">차트정보 저장</a>
			<a href="javascript:void(0)" class="easyui-linkbutton ml-2" data-options="iconCls:'icon-cancel'" onclick="javascript:$('#custDlg').dialog('close');">닫기</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="row p-1">
				<div class="easyui-panel" title="상담차트" style="width: 100%;"
					 data-options="collapsible:true">
					<form id="custCnstFrm" name="custCnstFrm" method="post">
					<div class="row m-2">
						<div class="col">
							<input name="selectedCustUsrNm" class="easyui-textbox" style="width: 220px;text-align: center;"
								   data-options="label:'고객이름/번호',labelWidth:90,required:true,readonly:true"
								   th:value="${#strings.isEmpty(custInfo?.custUsrNm)} ? ${rsvtInfo?.rsvtUsrNm}:${custInfo?.custUsrNm}">
							<input name="selectedCustId" class="easyui-textbox" style="width:50px;text-align: center;"
								   data-options="required:true,readonly:true"
								   th:value="${#strings.isEmpty(custInfo?.custId)} ? 0:${custInfo?.custId}">
							<a href="javascript:void(0);" id="btnNewCnstChart" class="easyui-linkbutton c8 ml-2" data-options="iconCls:'icon-edit'" style="width: 90px;">차트생성</a>
						</div>
					</div>
					</form>
					<div class="row m-2">
						<table id="dg" style="width: 100%;min-height: 160px;"></table>
					</div>
				</div>
			</div>
			<div class="row p-1">
				<div class="easyui-panel" title="상담정보" style="width: 100%;"
					 data-options="collapsible:true">
					<form id="saveCnstFrm" name="saveCnstFrm" method="post">
					<input type="hidden" name="selectedIndex">
					<div class="row m-2">
						<div class="col-4">
							<input name="selectedCnstId" class="easyui-textbox" style="width: 100%; text-align: center;"
								data-options="
							   		label:'상담번호 *',
							   		required:true,
							   		readonly:true">
						</div>
						<div class="col-8">
							<input name="cnstDt" class="easyui-datebox" style="width: 190px; text-align: center;"
								data-options="
							   		label:'상담일시 *',
							   		labelPosition:'left',
							   		formatter:myformatter,
							   		parser:myparser">
							<select name="cnstDtHh" class="easyui-combobox" style="width: 70px; text-align: center;">
								<option value="" selected="selected">시</option>
								<option th:each="i: ${#numbers.sequence(1, 24)}"
									    th:value="${i} lt 10 ? '0'+ ${i} : ${i}"
									    th:text="${i}+'시'"></option>
							</select>
							<select name="cnstDtMm" class="easyui-combobox" style="width: 70px; text-align: center;">
								<option value="" selected="selected">분</option>
								<option th:each="i: ${#numbers.sequence(0, 60)}"
									    th:value="${i} lt 10 ? '0'+ ${i} : ${i}"
									    th:text="${i}+'분'"></option>
							</select>
						</div>
					</div>
					<div class="row m-2">
						<div class="col-6">
							<select name="picUsrNo" class="easyui-combobox" style="width: 100%; text-align: center;"
								data-options="
							   		label:'상담한약사',
							   		labelPosition:'left',
							   		required:true,
							   		panelHeight:'auto'">
								<option value="" selected="selected">선택</option>
								<option th:each="data, index : ${chemistList}"
									th:value="${data?.usrNo}" th:text="${data?.usrNm}"></option>
							</select>
						</div>
						<div class="col-6">
							<select name="pic2UsrNo" class="easyui-combobox" style="width: 100%; text-align: center;"
								data-options="
							   		label:'상담실장',
							   		labelPosition:'left',
							   		required:true,
							   		panelHeight:'auto'">
								<option value="" selected="selected">선택</option>
								<option th:each="data, index : ${counselorList}"
									th:value="${data?.usrNo}" th:text="${data?.usrNm}"></option>
							</select>
						</div>
					</div>
					<div class="row m-2">
						<div class="col-4">
							<select name="cateTpCd" class="easyui-combobox" style="width: 100%; text-align: center;"
								data-options="
							   		label:'감량/요요',
							   		labelPosition:'left',
							   		panelHeight:'auto'">
								<option value="" selected="selected">선택</option>
								<option th:each="data, index : ${cateTpCdList}"
									th:value="${data?.ditcCd}" 
									th:text="${data?.ditcNm}"></option>
							</select>
						</div>
						<div class="col-2">
							<select name="cateTpVal" class="easyui-combobox" style="width: 100%; text-align: center;"
								data-options="
							   		panelHeight:'auto'">
								<option value="" selected="selected">선택</option>
								<option th:each="data, index : ${cateTpValList}"
									th:value="${data?.ditcCd}" 
									th:text="${data?.ditcNm}"></option>
							</select>
						</div>
						<div class="col-4">
							<select name="dosgTpCd" class="easyui-combobox" style="width: 100%; text-align: center;"
								data-options="
							   		label:'감량종류',
							   		labelPosition:'left',
							   		panelHeight:'auto'">
								<option value="" selected="selected">선택</option>
								<option th:each="data, index : ${dosgTpCdList}"
									th:value="${data?.ditcCd}" 
									th:text="${data?.ditcNm}"></option>
							</select>
						</div>
						<div class="col-2">
							<select name="dosgTpVal" class="easyui-combobox" style="width: 100%; text-align: center;"
								data-options="
							   		panelHeight:'auto'">
								<option value="" selected="selected">선택</option>
								<option th:each="data, index : ${dosgTpValList}"
									th:value="${data?.ditcCd}" 
									th:text="${data?.ditcNm}"></option>
							</select>
						</div>
					</div>
					<div class="row m-2">
						<div class="col-6">
							<select name="cnstHhCd" class="easyui-combobox" style="width: 100%; text-align: center;"
								data-options="
							   		label:'상담가능시간',
							   		labelPosition:'left',
							   		required:true,
							   		panelHeight:'auto'">
								<option value="" selected="selected">시</option>
								<option th:each="data, index : ${cnstHhList}"
									th:value="${data?.ditcCd}" 
									th:text="${data?.ditcNm}"></option>
							</select>
						</div>
						<div class="col-6">
							<input name="cnstHhMemo" class="easyui-textbox" style="width: 100%;"
								data-options="prompt:'상담시간메모'">
						</div>
					</div>
					<div class="row m-2">
						<div class="col-6">
							<select name="payTpCd" class="easyui-combobox" style="width: 100%; text-align: center;"
								data-options="
							   		label:'결재유형',
							   		labelPosition:'left',
							   		required:true,
							   		panelHeight:'auto'">
								<option value="">선택</option>
								<option th:each="data, index : ${payTpCdList}"
									th:value="${data?.ditcCd}" 
									th:text="${data?.ditcNm}"></option>
							</select>
						</div>
						<div class="col-6">
							<input name="dlvDt" class="easyui-datebox" style="width: 100%; text-align: center;"
								data-options="
							   		label:'택배발송일',
							   		labelPosition:'left',
							   		formatter:myformatter,
							   		parser:myparser">
						</div>
					</div>
					<div class="row m-2">
						<div class="col-12">
							<textarea name="presDesc" class="easyui-textbox"
								style="width: 100%; height: 110px;"
								data-options="label:'처방',labelPosition:'left',multiline:true"></textarea>
						</div>
					</div>
					<div class="row m-2">
						<div class="col-12">
							<textarea name="cnstDesc" class="easyui-textbox"
								style="width: 100%; height: 105px;"
								data-options="label:'상담메모',labelPosition:'left',multiline:true"></textarea>
						</div>
					</div>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="row p-1">
				<div class="easyui-tabs" style="width: 100%;height: 710px;"
			 		 data-options="tabWidth:120">
			 		 <div title="설문차트" class="py-2" style="overflow: hidden;"
			 		 	data-options="labelWidth:120">
			 		 	<form id="saveSurvFrm" name="saveSurvFrm" method="post">
			 		 	<div style="height: 650px;overflow: auto;">
				 		 	<table class="table table-sm table-hover">
				 		 		<thead>
				 		 			<tr>
				 		 				<th scope="col" class="table-info" style="width: 100px;">#번호</th>
				 		 				<th scope="col" class="table-info" style="width: 250px;">#질문</th>
				 		 				<th scope="col" class="table-info">#답변</th>
				 		 			</tr>
				 		 		</thead>
				 		 		<tbody id="cnstPaper">
				 		 		</tbody>
				 		 	</table>
			 		 	</div>
			 		 	</form>
			 		 </div>
			 		 <div title="복용차트" class="py-2" style="width: 100%;overflow: hidden;"
			 		 	th:attrappend="data-options=${tabNo} eq 0 ? 'labelWidth:120' : 'labelWidth:120,selected:1'">
	 		 			<form id="saveDosgFrm" name="saveDosgFrm" method="post">
				 		 	<div class="row mb-2">
				 		 		<div class="col-md-10 form-inline">
				 		 			<input name="orgWgt" class="easyui-numberbox" style="width: 200px;text-align: center;"
										   data-options="
										   		label:'시작체중',
										   		labelWidth:100,
										   		labelPosition:'left',
												precision:2,
												groupSeparator:','">
				 		 			<input name="tgtWgt" class="easyui-numberbox" style="width: 200px;text-align: center;"
										   data-options="
										   		label:'희망체중',
										   		labelWidth:100,
										   		labelPosition:'left',
												precision:2,
												groupSeparator:','">
				 		 			<input name="startDosgDt" class="easyui-datebox" style="width: 230px;text-align: center;"
										   data-options="
										   		label:'복용시작일자',
										   		labelWidth:100,
										   		formatter:myformatter,
										   		parser:myparser">
									<a href="javascript:void(0)" id="btnNewDosgChart" class="easyui-linkbutton c8 ml-2" style="width:120px;"
									   data-options="iconCls:'icon-edit'">복용차트 생성</a>
									<a href="javascript:void(0)" id="btnRemoveDosgChart" class="easyui-linkbutton ml-2" style="width:120px;"
									   data-options="iconCls:'icon-cut'">복용차트 삭제</a>
				 		 		</div>
				 		 		<div class="col-md-2 d-flex justify-content-end">
				 		 		</div>
				 		 	</div>
	 		 			</form>
			 		 	<div class="row mb-2">
			 		 		<table id="dg2" style="width:100%;min-height: 630px;"></table>
			 		 	</div>
			 		 </div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- dosg dialog -->
	<div id="dosgDlg" class="easyui-window" style="width:700px;min-height:470px;padding:10px;" data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons'">
		<form id="dosgDlgFrm" name="dosgDlgFrm" method="post" novalidate>
		<input type="hidden" class="textbox-value" name="dlg_dosgId">
		<input type="hidden" class="textbox-value" name="dlg_dosgSeq">
		<input type="hidden" class="textbox-value" name="dlg_dosgLvCd">
		<div class="row p-1">
			<div class="col-md-4">
				<input name="dlg_dosgSeqStr" class="easyui-textbox" style="width: 100%;text-align: center;"
					   data-options="label:'일수 *',labelWidth:80,required:true,readonly:true">
			</div>
			<div class="col-md-4">
				<input name="dlg_dosgLvCdNm" class="easyui-textbox" style="width: 100%;text-align: center;"
					   data-options="label:'복용단계 *',labelWidth:80,required:true,readonly:true" >
			</div>
			<div class="col-md-4">
				<input name="dlg_dosgDt" class="easyui-datebox" style="width: 100%;text-align: center;"
					   data-options="label:'복용일자',labelWidth:80,required:true,formatter:myformatter,parser:myparser">
			</div>
		</div>
		<div class="row p-1">
			<div class="col-md-4">
				<select name="dlg_callYn" class="easyui-combobox" style="width: 100%;text-align: center;"
					    data-options="label:'상담예약',labelWidth:80,panelHeight:'auto'">
					<option value="">선택</option>
					<option th:each="data, index : ${callYnList}"
							th:value="${data?.ditcCd}" 
							th:text="${data?.ditcNm}"></option>
				</select>
			</div>
			<div class="col-md-4">
				<select name="dlg_pausYn" class="easyui-combobox" style="width: 100%;text-align: center;"
						data-options="label:'통화여부',labelWidth:80,panelHeight:'auto'">
					<option value="">선택</option>
					<option th:each="data, index : ${pausYnList}"
							th:value="${data?.ditcCd}" 
							th:text="${data?.ditcNm}"></option>
				</select>
			</div>
			<div class="col-md-4">
				<select name="dlg_stopYn" class="easyui-combobox" style="width: 100%;text-align: center;"
						data-options="label:'보류여부',labelWidth:80,panelHeight:'auto'">
					<option value="">선택</option>
					<option th:each="data, index : ${stopYnList}"
							th:value="${data?.ditcCd}" 
							th:text="${data?.ditcNm}"></option>
				</select>
			</div>
		</div>
		<div class="row p-1">
			<div class="col-md-4">
				<select name="dlg_dosgYn" class="easyui-combobox" style="width: 100%;text-align: center;"
						data-options="label:'특별식',labelWidth:80,panelHeight:'auto'">
					<option value="">선택</option>
					<option th:each="data, index : ${dosgYnList}"
							th:value="${data?.ditcCd}" 
							th:text="${data?.ditcNm}"></option>
				</select>
			</div>
			<div class="col-md-4">
				<select name="dlg_mealTpCd" class="easyui-combobox" style="width: 100%;text-align: center;"
						data-options="label:'식사',labelWidth:80,panelHeight:'auto'">
					<option value="">선택</option>
					<option th:each="data, index : ${mealTpCdList}"
							th:value="${data?.ditcCd}" 
							th:text="${data?.ditcNm}"></option>
				</select>
			</div>
			<div class="col-md-4">
			</div>
		</div>
		<div class="row p-1">
			<div class="col-md-4">
				<select name="dlg_dosgTpCd" class="easyui-combobox" style="width: 100%;text-align: center;"
						data-options="label:'감량종류',labelWidth:80,panelHeight:'auto'">
					<option value="">선택</option>
					<option th:each="data, index : ${dosgTpCdList}"
							th:value="${data?.ditcCd}" 
							th:text="${data?.ditcNm}"></option>
				</select>
			</div>
			<div class="col-md-4">
				<select name="dlg_smsYn" class="easyui-combobox" style="width: 100%;text-align: center;"
						data-options="label:'문자전송',labelWidth:80,panelHeight:'auto'">
					<option value="Y">Y</option>
					<option value="N">N</option>
				</select>
			</div>
			<div class="col-md-4">
			</div>
		</div>
		<div class="row p-1">
			<div class="col-md-4">
				<input name="dlg_currWgt" class="easyui-numberbox" style="width: 100%;text-align: right;"
					   data-options="label:'현재체중',
					   				labelWidth:80,
									precision:2,
									groupSeparator:',',">
			</div>
			<div class="col-md-4">
				<input name="dlg_lossWgt" class="easyui-numberbox" style="width: 100%;text-align: right;"
					   data-options="label:'감량체중',
					   				labelWidth:80,
					   				readonly:true,
									precision:2,
									groupSeparator:','">
			</div>
			<div class="col-md-4">
				<input name="dlg_rmiWgt" class="easyui-numberbox" style="width: 100%;text-align: right;"
					   data-options="label:'남은체중',
					   				labelWidth:80,
					   				readonly:true,
					   				precision:2,
					   				groupSeparator:','">
			</div>
		</div>
		<div class="row p-1">
			<div class="col-md-12">
				<input name="dlg_dosgDesc1" class="easyui-textbox" style="width: 100%;height:100px"
					   data-options="label:'몸상태',labelWidth:80,multiline:true">
			</div>
		</div>
		<div class="row p-1">
			<div class="col-md-12">
				<input name="dlg_dosgDesc2" class="easyui-textbox" style="width: 100%;height:100px"
					   data-options="label:'약반응',labelWidth:80,multiline:true">
			</div>
		</div>
		</form>
		<div class="row py-1">
			<div class="col-12 d-flex justify-content-end">
				<a href="javascript:void(0)" id="btnSaveDosgChart" class="easyui-linkbutton c6" data-options="iconCls:'icon-ok'">저장</a>
				<a href="javascript:void(0)" class="easyui-linkbutton ml-2" data-options="iconCls:'icon-cancel'" onclick="javascript:$('#dosgDlg').dialog('close');">닫기</a>
			</div>
		</div>
	</div>
</div>