    <div class="modal-header">
        <h5 class="modal-title">예약 스케쥴 등록</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
    	<form name="saveForm" id="saveForm" action="POST">
        <table class="table-sm table table-borderless">
			<colgroup>
				<col width="12%"/>
				<col width="38%"/>
				<col width="12%"/>
				<col width="38%"/>
			</colgroup>
			<tbody>
				<tr>
					<th>예약일시</th>
					<td>
						<div class="input-group input-group-sm" style="width:200px;" >
							<input type="text" id="rsvtDt" name="rsvtDt" class="form-control datetimepicker"th:value="${#dates.format( schInfo?.rsvtDt, 'YYYY-MM-dd HH:mm')}" tabindex="1">
						</div>
					</td>
					<th>상담구분</th>
					<td>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="rsvtTpCd" id="rsvtTpCd1" value="C"   th:checked="${'C' eq schInfo?.rsvtTpCd}" tabindex="2">
							<label class="form-check-label" for="rsvtTpCd1">전화상담</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="rsvtTpCd" id="rsvtTpCd2" value="R"  th:checked="${'R' eq schInfo?.rsvtTpCd}" tabindex="2">
							<label class="form-check-label" for="rsvtTpCd2">예약방문</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="rsvtTpCd" id="rsvtTpCd3" value="D"  th:checked="${'D' eq schInfo?.rsvtTpCd}" tabindex="2">
							<label class="form-check-label" for="rsvtTpCd3">당일방문</label>
						</div>
					</td>
				</tr>
				<tr>
					<th>이름</th>
					<td>
						<div class="input-group input-group-sm" style="width:200px;" >
							<input type="text" id="rsvtUsrNm" name="rsvtUsrNm" class="form-control" th:value="${schInfo?.rsvtUsrNm}"  tabindex="3">
						</div>
					</td>
					<th>성별</th>
					<td>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="genTpCd" id="genTpCd1" value="F"  th:checked="${'F' eq schInfo?.genTpCd}" tabindex="4">
							<label class="form-check-label" for="genTpCd1">여성</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="genTpCd" id="genTpCd2" value="M"  th:checked="${'M' eq schInfo?.genTpCd}" tabindex="4">
							<label class="form-check-label" for="genTpCd2">남성</label>
						</div>
					</td>
				</tr>
				<tr>
					<th>휴대전화</th>
					<td>
						<div class="input-group input-group-sm" style="width:200px;" >
							<input type="text" id="rsvtCellNo" name="rsvtCellNo" class="form-control" th:value="${schInfo?.rsvtCellNo}" maxlength="13" tabindex="5">
						</div>
					</td>
					<th>일반전화</th>
					<td>
						<div class="input-group input-group-sm" style="width:200px;" >
							<input type="text" id="rsvtPhnNo" name="rsvtPhnNo" class="form-control" th:value="${schInfo?.rsvtPhnNo}"   maxlength="14" tabindex="6">
						</div>
					</td>
				</tr>
				<tr>
					<th>지인소개</th>
					<td colspan="3">
							<div class="input-group input-group-sm input-group-inline" style="width:410px;">
								<input type="text" class="form-control" style="margin-right:8px;" tabindex="7" > 
								<input type="text" class="form-control" tabindex="8" >
							</div>						
						</div>
					</td>
				</tr>
				<tr>
					<th>기타메모</th>
					<td colspan="3">
						<div class="form-group">
						    <textarea class="form-control form-control-sm" id="rsvtDesc" name="rsvtDesc" rows="5" th:text="${schInfo?.rsvtDesc}" placeholder="기타메모" tabindex="9"></textarea>
						</div>
					</td>
				</tr>
				<tr>
					<th>담당약사</th>
					<td colspan="3">
						<select class="form-select" name="picUsrNo" tabindex="10" >
							<option value=""  th:selected="${''  eq schInfo?.picUsrNo}">선택하세요</option>
							<th:block th:if="${chemistList!=null}" >
								<option th:each="data, index : ${chemistList}" th:value="${data?.usrNo}" th:text="${data?.usrNm}" th:selected="${data?.usrNo eq schInfo?.picUsrNo}">선택하세요</option>
							</th:block>
						</select>
					</td>
				</tr>
			</tbody>
		</table>
		<input type="hidden" id="rsvtId" name="rsvtId" th:value="${schInfo?.rsvtId}" >
		<input type="hidden" id="custId" name="custId" th:value="${schInfo?.custId}" >
		</form>
    </div>
    <div class="modal-footer">
		<button type="button" id="btnSaveRsvtSch" class="btn btn-primary" tabindex="10">저장</button>
  		<button type="button" class="btn btn-secondary" data-dismiss="modal" tabindex="11" >닫기</button>
    </div>
	<script type="text/javascript" th:inline="javascript">
		var chemistList  = /*[[${chemistList}]]*/'';
		console.log( "chemistList", chemistList)
	</script>
	<script type="text/javascript" th:src="@{/js/main/RS1001PU01.js}"></script> 
