<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<script type="text/javascript" th:src="@{/js/main/RS1001PU02.js}"></script>
<script type="text/javascript" th:inline="javascript">
	var cnstList  = /*[[${cnstList}]]*/'';
	var selectParam01 = {
		"Y": "예", 
		"N":"아니요"
	};
	var selectParam02 = {
		"" : "",
		"Y": "예", 
		"N": "아니요"
	};
	var selectParam03 = {
		"0": "복용 시작전", 
		"1": "1단계(선식3일)",
		"2": "2단계(안정기)", 
		"3": "3단계(1주)", 
		"4": "3단계(2주)", 
		"5": "3단계(3주)", 
	};
	var picUsrList = {
		"1" : "박정란",
		"2" : "황진영"
	};
</script>
<div class="modal-header">
	<h5 class="modal-title">상담하기</h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-sm-12">
			<div class="card card-primary card-outline card-outline-tabs">
				<div class="card-header p-0 border-bottom-0">
					<ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="pill"
								href="#custom-tabs-four-home" role="tab" aria-controls="custom-tabs-four-home"
								aria-selected="true">고객정보</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="custom-tabs-four-profile-tab" data-toggle="pill"
								href="#custom-tabs-four-profile" role="tab" aria-controls="custom-tabs-four-profile"
								aria-selected="false">차트정보</a>
						</li>
					</ul>
				</div>
				<div class="card-body">
					<div class="tab-content" id="custom-tabs-four-tabContent">
						<div class="tab-pane fade active show" id="custom-tabs-four-home" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
							<div id="customer-table" th:fragment="customer-table">
								<form name="saveCustForm" id="saveCustForm" method="post">
									<div class="row">
										<div class="col-sm-6">
											<div class="card">
												<div class="card-header bg-info">
													<h3 class="card-title"><i class="fas fa-chart-pie mr-1"></i>기본정보</h3>
												</div>
												<div class="card-body p-3">
													<table class="table-sm table table-borderless">
														<colgroup>
															<col width="18%" />
															<col width="32%" />
															<col width="18%" />
															<col width="32%" />
														</colgroup>
														<tbody>
															<tr>
																<th>이름</th>
																<td>
																	<div class="input-group input-group-sm" style="width:200px;">
																		<input type="text"   name="custUsrNm" th:value="${custInfo?.custUsrNm}"class="form-control" tabindex="1">
																		<input type="hidden" name="custId"    th:value="${custInfo?.custId}" class="form-control">
																		<input type="hidden" name="rsvtId"    th:value="${rsvtInfo?.rsvtId}" class="form-control">
																	</div>
																</td>
																<th>연락처</th>
																<td>
																	<div class="input-group input-group-sm"
																		style="width:200px;">
																		<input type="text" id="custCellNo" name="custCellNo"
																			th:value="${custInfo?.custCellNo}"
																			class="form-control" maxlength="13"
																			tabindex="2">
																	</div>
																</td>
															</tr>
															<tr>
																<th>생년월일</th>
																<td>
																	<div class="input-group input-group-sm"
																		style="width:200px;">
																		<input type="number" id="custBirthDt"
																			name="custBirthDt"
																			th:value="${custInfo?.custBirthDt}"
																			class="form-control" maxlength="6"
																			tabindex="3">
																	</div>
																</td>
																<th>성별</th>
																<td>
																	<div class="form-check form-check-inline">
																		<input class="form-check-input" type="checkbox"
																			name="custGenTpCd" id="custGenTpCd1" value="F"
																			th:checked="${'F' eq custInfo?.custGenTpCd}"
																			tabindex="4">
																		<label class="form-check-label"
																			for="custGenTpCd1">여성</label>
																	</div>
																	<div class="form-check form-check-inline">
																		<input class="form-check-input" type="checkbox"
																			name="custGenTpCd" id="custGenTpCd2" value="M"
																			th:checked="${'M' eq custInfo?.custGenTpCd}"
																			tabindex="4">
																		<label class="form-check-label"
																			for="custGenTpCd2">남성</label>
																	</div>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>

											<div class="card">
												<div class="card-header bg-info">
													<h3 class="card-title"><i class="fas fa-chart-pie mr-1"></i>결혼정보</h3>
												</div>
												<div class="card-body p-3">
													<table class="table-sm table table-borderless">
														<colgroup>
															<col width="18%" />
															<col width="32%" />
															<col width="18%" />
															<col width="32%" />
														</colgroup>
														<tbody>
															<tr>
																<th>결혼유무</th>
																<td colspan="3">
																	<div class="form-check form-check-inline">
																		<input class="form-check-input" type="checkbox"
																			name="mrgYn" id="mrgYn1" value="N"
																			th:checked="${'N' eq custInfo?.mrgYn}"
																			tabindex="5">
																		<label class="form-check-label"
																			for="mrgYn1">미혼</label>
																	</div>
																	<div class="form-check form-check-inline">
																		<input class="form-check-input" type="checkbox"
																			name="mrgYn" id="mrgYn2" value="Y"
																			th:checked="${'Y' eq custInfo?.mrgYn}"
																			tabindex="5">
																		<label class="form-check-label"
																			for="mrgYn2">기혼</label>
																	</div>
																</td>
															</tr>
															<tr>
																<th>출산 자녀수</th>
																<td>
																	<select name="pcrtChdCnt" class="form-select" style="min-width:100px;" tabindex="6">
																		<option value="0"  th:selected="${'0'  eq custInfo?.pcrtChdCnt}">0 명</option>
																		<option value="1"  th:selected="${'1'  eq custInfo?.pcrtChdCnt}">1 명</option>
																		<option value="2"  th:selected="${'2'  eq custInfo?.pcrtChdCnt}">2 명</option>
																		<option value="3"  th:selected="${'3'  eq custInfo?.pcrtChdCnt}">3 명</option>
																		<option value="4"  th:selected="${'4'  eq custInfo?.pcrtChdCnt}">4 명</option>
																		<option value="5"  th:selected="${'5'  eq custInfo?.pcrtChdCnt}">5 명</option>
																		<option value="6"  th:selected="${'6'  eq custInfo?.pcrtChdCnt}">6 명</option>
																		<option value="7"  th:selected="${'7'  eq custInfo?.pcrtChdCnt}">7 명</option>
																		<option value="8"  th:selected="${'8'  eq custInfo?.pcrtChdCnt}">8 명</option>
																		<option value="9"  th:selected="${'9'  eq custInfo?.pcrtChdCnt}">9 명</option>
																		<option value="10" th:selected="${'10' eq custInfo?.pcrtChdCnt}">10 명</option>
																		<option value="11" th:selected="${'11' eq custInfo?.pcrtChdCnt}">11 명</option>
																		<option value="12" th:selected="${'12' eq custInfo?.pcrtChdCnt}">12 명</option>
																		<option value="13" th:selected="${'13' eq custInfo?.pcrtChdCnt}">13 명</option>
																		<option value="14" th:selected="${'14' eq custInfo?.pcrtChdCnt}">14 명</option>
																		<option value="15" th:selected="${'15' eq custInfo?.pcrtChdCnt}">15 명</option>
																	</select>
																</td>
																<th>마지막 출산년도</th>
																<td>
																	<input type="number" name="lstPcrtYear" th:value="${custInfo?.lstPcrtYear}" maxlength="4" tabindex="7">
																</td>
															</tr>
															<tr>
																<th>모유수유 현재</th>
																<td colspan="3">
																	<div class="form-check form-check-inline">
																		<input class="form-check-input" type="checkbox"
																			name="brstFdgYn" id="brstFdgYn1" value="Y"
																			th:checked="${'Y' eq custInfo?.brstFdgYn}"
																			tabindex="8">
																		<label class="form-check-label" for="brstFdgYn1">예</label>
																	</div>
																	<div class="form-check form-check-inline">
																		<input class="form-check-input" type="checkbox"
																			name="brstFdgYn" id="brstFdgYn2" value="N"
																			th:checked="${'N' eq custInfo?.brstFdgYn}"
																			tabindex="8">
																		<label class="form-check-label" for="brstFdgYn2">아니요</label>
																	</div>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>

											<div class="card">
												<div class="card-header bg-info">
													<h3 class="card-title"><i class="fas fa-chart-pie mr-1"></i>내원경로</h3>
												</div>
												<div class="card-body p-3">
													<table class="table-sm table table-borderless">
														<colgroup>
															<col width="25%" />
															<col width="*" />
														</colgroup>
														<tbody>
															<tr>
																<th>
																	<div class="form-check">
																		<input class="form-check-input" type="checkbox"
																			name="vistTpCd" id="vistTpCd1" value="1"
																			th:checked="${'1' eq custInfo?.vistTpCd}"
																			tabindex="9">
																		<label class="form-check-label"
																			for="vistTpCd1">지인소개</label>
																	</div>
																</th>
																<td></td>
															</tr>
															<tr>
																<th>
																	<div class="form-check">
																		<input class="form-check-input" type="checkbox"
																			name="vistTpCd" id="vistTpCd2" value="2"
																			th:checked="${'2' eq custInfo?.vistTpCd}"
																			tabindex="9">
																		<label class="form-check-label"
																			for="vistTpCd2">홈페이지</label>
																	</div>
																</th>
																<td></td>
															</tr>
															<tr>
																<th>
																	<div class="form-check">
																		<input class="form-check-input" type="checkbox"
																			name="vistTpCd" id="vistTpCd3" value="3"
																			th:checked="${'3' eq custInfo?.vistTpCd}"
																			tabindex="9">
																		<label class="form-check-label" for="vistTpCd3">카카오톡
																			검색창</label>
																	</div>
																</th>
																<td></td>
															</tr>
															<tr>
																<th>
																	<div class="form-check">
																		<input class="form-check-input" type="checkbox"
																			name="vistTpCd" id="vistTpCd4" value="4"
																			th:checked="${'4' eq custInfo?.vistTpCd}"
																			tabindex="9">
																		<label class="form-check-label" for="vistTpCd4">블로그
																			및 인터넷</label>
																	</div>
																</th>
																<td></td>
															</tr>
															<tr>
																<th>
																	<div class="form-check">
																		<input class="form-check-input" type="checkbox"
																			name="vistTpCd" id="vistTpCd5" value="5"
																			th:checked="${'5' eq custInfo?.vistTpCd}"
																			tabindex="9">
																		<label class="form-check-label"
																			for="vistTpCd5">기타</label>
																	</div>
																</th>
																<td></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>

										<div class="col-sm-6">
											<div class="card">
												<div class="card-header bg-info">
													<h3 class="card-title"><i class="fas fa-chart-pie mr-1"></i>주소정보</h3>
												</div>
												<div class="card-body p-3">
													<div class="tableFixHead">
														<table class="table-sm table table-borderless">
															<colgroup>
																<col width="18%" />
																<col width="*" />
															</colgroup>
															<tbody>
																<tr>
																	<th>우편번호</th>
																	<td>
																		<div class="input-group input-group-sm" style="width:100px;">
																			<input type="text" id="zipCode" name="zipCode" th:value="${custInfo?.zipCode}" class="form-control" tabindex="10">
																		</div>
																	</td>
																</tr>
																<tr>
																	<th>주소</th>
																	<td>
																		<div class="input-group input-group-sm" style="width:400px;">
																			<input type="text" id="addr1" name="addr1" th:value="${custInfo?.addr1}" class="form-control" tabindex="11">
																		</div>
																	</td>
																</tr>
																<tr>
																	<th>상세주소</th>
																	<td>
																		<div class="input-group input-group-sm" style="width:400px;">
																			<input type="text" id="addr2" name="addr2" th:value="${custInfo?.addr2}" class="form-control" tabindex="12">
																		</div>
																	</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>

							<div class="row">
								<div class="col-sm-12 text-right">
									<button type="button" id="btnSaveCustomer" name="btnSaveCustomer"
										class="btn btn-primary btn-sm">저장</button>
								</div>
							</div>
						</div>
						<div class="tab-pane fade" id="custom-tabs-four-profile" role="tabpanel"
							aria-labelledby="custom-tabs-four-profile-tab">
							<div class="row">
								<div class="col-sm-3">
									<div class="row mb-1">
										<div class="col-sm-8">
											<h6><i class="fas fa-chart-pie mr-1"></i>차트 목록</h6>
										</div>
										<div class="col-sm-4 text-right">
											<button type="button" id="btnNewChart" name="btnNewChart"
												class="btn btn-success btn-sm">차트생성</button>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<div id="consultation-table"></div>
											<script type="text/javascript" th:inline="javascript">
												var table01 = new Tabulator("#consultation-table", {
													height: "120px",
													selectable : 1,
													headerSort:false,
													columns: [
														{ title: "차트번호", field: "cnstId"  , width:60, hozAlign:"center", visible : false},
														{ title: "현재체중", field: "orgWgt"  , width:60, hozAlign:"center", visible : false},
														{ title: "희망체중", field: "tgtWgt"  , width:60, hozAlign:"center", visible : false},
														{ title: "상담번호", field: "cnstId"  , width:60, hozAlign:"center", visible : false},
														{ title: "상담일시", field: "cnstDt"  , width:120, hozAlign:"center"},
														{ title: "담당약사", field: "picUsrNo", width:100, hozAlign:"center", editor:"select", editorParams:{values:picUsrList}, formatter:"lookup", formatterParams:picUsrList, editable:true,cellEdited:function(cell){ displayEdited(cell);}},
														{ title: "삭제"   , formatter:trashIcon, width:40, hozAlign:"center", cellClick:function(e, cell){ deleteConsultingChart(e, cell)}}
													],
													rowClick:function(e, row){
														loadChartByCnstId( row );
														// callDosingChart( row  );
														// callSrvChart( row  );
													}
												});
											</script>
										</div>
									</div>
									<div class="row mt-3">
										<div class="col-sm-12">
											<h6><i class="fas fa-chart-pie mr-1"></i>기타메모</h6>
										</div>
									</div>
									<div class="row mb-1">
										<div class="col-sm-12 text-right">
											<textarea class="form-control form-control-sm" id="rsvtDesc"
												name="rsvtDesc" rows="19" th:text="${schInfo?.rsvtDesc}"
												placeholder="기타메모" tabindex="9"></textarea>
										</div>
									</div>
								</div>
								<div class="col-sm-9">
									<div class="row">
										<div class="col-sm-12 text-right" style="margin-bottom:0px;">

											<div id="chart-area" th:fragment="chart-area">
												<script type="text/javascript" th:inline="javascript">
													var cnstInfo  = /*[[${cnstInfo}]]*/'';
													var dosgList  = /*[[${dosgList}]]*/'';
													var cnstPaper  = /*[[${cnstPaper}]]*/'';
											
													console.log("cnstInfo", cnstInfo);
													console.log("dosgList", dosgList);
													console.log("cnstPaper", cnstPaper);
												</script>	
												<div class="row">
													<div class="col-sm-12">
														<div class="card card-primary card-outline card-outline-tabs">
															<div class="card-header p-0 border-bottom-0">
																<ul class="nav nav-tabs" id="custom-tabs-four-tab111"
																	role="tablist">
																	<li class="nav-item">
																		<a class="nav-link active" id="custom-tabs-four-home-tab111"
																			data-toggle="pill" href="#custom-tabs-four-home111"
																			role="tab" aria-controls="custom-tabs-four-home111"
																			aria-selected="true">설문차트</a>
																	</li>
																	<li class="nav-item">
																		<a class="nav-link" id="custom-tabs-four-profile-tab111"
																			data-toggle="pill" href="#custom-tabs-four-profile111"
																			role="tab" aria-controls="custom-tabs-four-profile111"
																			aria-selected="false">복용차트</a>
																	</li>
																</ul>
															</div>
															<div class="card-body">
																<div class="tab-content" id="custom-tabs-four-tabContent111">
																	<div class="tab-pane fade active show" id="custom-tabs-four-home111" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab111">
																		<div class="row">
																			<div class="col-12">
																				<div class="overflow-auto" style="max-height:530px;">
																					<table class="table table-xs table-bordered .table-striped" >
																						<thead>
																							<tr>
																								<th>번호</th>
																								<th>질문</th>
																								<th>답변</th>
																							</tr>
																						</thead>
																						<tbody>
																							<tr th:each="item:${cnstPaper}">
																								<th th:text="${item.num}"></th>
																								<td th:text="${item.questText}"></td>
																								<td>
																									<!--textbox-->
																									<div class="input-group input-group-sm" th:if="${item.examCd} =='TEXT'">
																										<input type="text" th:attr="id=${item.id}" class="form-control input-sm">
																									</div>
																									
																									<!-- radio -->
																									<div class="form-check form-check-inline" th:if="${item.examCd} =='RADIO'" th:each="el : ${#strings.arraySplit(item.exam,',')}">
																										<input class="form-check-input" type="radio" th:attr="name=${item.id}"/>
																										<label class="form-check-label" th:text="${el}"></label>
																									</div>
																									
																									<!-- checkbox -->
																									<div class="form-check form-check-inline" th:if="${item.examCd} =='CHECK'" th:each="el : ${#strings.arraySplit(item.exam,',')}">
																										<input type="checkbox" class="form-check-input mr-7" th:attr="name=${item.id}"/>
																										<label class="form-check-label mr-4"  th:text="${el}"></label>
																									</div>
																								</td>
																							</tr>
																						</tbody>
																					</table>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="tab-pane fade" id="custom-tabs-four-profile111"
																		role="tabpanel"
																		aria-labelledby="custom-tabs-four-profile-tab111">
																		<div class="row">
																			<div class="col-sm-12">
																				<table class="table-sm table-borderless">
																					<colgroup>
																						<col width="60px;" />
																						<col width="120px" />
																						<col width="80px;" />
																						<col width="80px" />
																						<col width="100px" />
																						<col width="80px" />
																						<col width="100px" />
																						<col width="160px" />
																						<col width="*" />
																					</colgroup>
																					<tbody>
																						<tr>
																							<th>상담일시</th>
																							<td>
																								<span id="cnstDt" th:text="${cnstInfo?.cnstDt}" ></span>
																							</td>
																							<th>시작 체중</th>
																							<td>
																								<div class="input-group input-group-sm">
																									<input type="text" id="orgWgt" name="orgWgt" th:value="${cnstInfo?.orgWgt}" class="form-control" tabindex="1">
																								</div>
																							</td>
																							<th>희망체중</th>
																							<td>
																								<div class="input-group input-group-sm">
																									<input type="text" id="tgtWgt" name="tgtWgt" th:value="${cnstInfo?.tgtWgt}" class="form-control" tabindex="2">
																								</div>
																							</td>
																							<th>복용시작일자</th>
																							<td>
																								<div class="input-group input-group-sm">
																									<input type="text" id="startDosgDt" name="startDosgDt"  th:value="${cnstInfo?.startDosgDt}" class="form-control" tabindex="3">
																								</div>
																							</td>
																							<td></td>
																						</tr>
																					</tbody>
																				</table>
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-sm-12">
																				<div id="dosingchar-table"></div>
																				<script type="text/javascript" th:inline="javascript">
																					var table02 = new Tabulator("#dosingchar-table", {
																						height  : "490px",
																						selectable : 1,
																						headerSort:false,
																						columns : [
																							{ title: "일수"    , field: "seqStr"     , width:50,  hozAlign:"right", frozen:true},
																							{ title: "복용단계" , field: "dosgTpCd"   , width:110, hozAlign:"center", frozen:true, editor:"select", cellEdited:function(cell){ displayEdited(cell);},editorParams:{values:selectParam03}, formatter:"lookup", formatterParams:selectParam03, editable:false},
																							{ title: "복용일자" , field: "dosgDt"     , width:130, hozAlign:"center", frozen:true, editor:dateEditor, cellEdited:function(cell){ displayEdited(cell);doChangeNextDate(cell);}, editable:cellEditCheck},
																							{ title: "요일"    , field: "daysStrKor" , width:50, hozAlign:"center",},
																							{ title: "상담예약"  , field: "callYn"    , width:70,  hozAlign:"center", editor:"select",cellEdited:function(cell){ displayEdited(cell);}, editorParams:{values:selectParam02}, formatter:"lookup", formatterParams:selectParam02, editable:cellEditCheck},
																							{ title: "복용여부"  , field: "dosgYn" 	  , width:70, hozAlign:"center", editor:"select" ,cellEdited:function(cell){ displayEdited(cell);}, editorParams:{values:selectParam02}, formatter:"lookup", formatterParams:selectParam02, editable:cellEditCheck},
																							{ title: "현재체중"  , field: "currWgt"   , width:70,  hozAlign:"right", editor:"number",  cellEdited:function(cell){ displayEdited(cell);weightCheck(cell);}, editable:true},
																							{ title: "감량체중"  , field: "lossWgt"   , width:70,  hozAlign:"right"},
																							{ title: "남은체중"  , field: "rmiWgt"    , width:70,  hozAlign:"right"},
																							{ title: "몸상태"   , field: "dosgDesc1"  , width:400, editor:"textarea", tooltip:true},
																							{ title: "약반응"   , field: "dosgDesc1"  , width:400, editor:"textarea", tooltip:true}
																						]
																					});
																				</script>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 text-right">
									<button type="button" id="bntSaveCnstChart" name="bntSaveCnstChart"   class="btn btn-primary btn-sm">저장</button>
								</div>
							  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</html>