<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>초록한약국</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.4.0/font/bootstrap-icons.css}">
	<link rel="stylesheet" th:href="@{/vendor/login-form-08/fonts/icomoon/style.css}">
  <link rel="stylesheet" th:href="@{/vendor/login-form-08/css/owl.carousel.min.css}">
  <link rel="stylesheet" th:href="@{/vendor/login-form-08/css/style.css}">

	<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
  <!--script th:src="@{/vendor/login-form-08/js/popper.min.js}"></script-->
  <script th:src="@{/vendor/login-form-08/js/main.js}"></script>
</head>
<body>
	
  안녕하세요
</body>
</html>