<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/chorok_layout">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">	
	<link rel="stylesheet" th:href="@{/webjars/datetimepicker/2.5.20-1/build/jquery.datetimepicker.min.css}">
	<link rel="stylesheet" th:href="@{/webjars/jquery-contextmenu/2.8.0/dist/jquery.contextMenu.min.css}">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	
	<script th:src="@{/webjars/datetimepicker/2.5.20-1/build/jquery.datetimepicker.full.min.js}"></script>
	<script th:src="@{/webjars/jquery-contextmenu/2.8.0/dist/jquery.contextMenu.min.js}"></script>
	<script th:src="@{/webjars/momentjs/2.29.1/moment.js}"></script>
</th:block>


<div layout:fragment="content" class="content-wrapper">
	<section class="content-header">
		<div class="container-fluid">
		  	<div class="row mb-1">
				<div class="col-sm-6">
			  		<h1>상담차트</h1>
				</div>
		  	</div>
		</div><!-- /.container-fluid -->
	</section>
	<section class="content">
		<div class="container-fluid">
			<div class="row mb-1">
				<div class="col-8">
				</div>
				<div class="col-4">
					<div class="text-right">
						<button type="button" class="btn btn-secondary btn-sm">불러오기</button>
					</div>
				</div>
			</div>
					
			<div class="row">
				<div class="col-sm-12">
					<div id="agrRgn">
						<table class="table-sm table table-bordered">
							<colgroup>
								<col width="20%"/>
								<col width="*"/>
							</colgroup>
							<tbody>
								<tr>
									<th>동의문</th>
									<td>
										<div th:text="${survey.surveyAgreeText}"></div>
										
										<form class="form-inline">
											<div class="form-check">
											  <input class="form-check-input" type="radio" name="agree1" id="agree1_1" value="on">
											  <label class="form-check-label" for="agree1_1">
											    동의
											  </label>
											</div>
											<div class="form-check">
											  <input class="form-check-input" type="radio" name="agree1" id="agree1_2" value="off" checked>
											  <label class="form-check-label" for="agree1_2">
											    비동의
											  </label>
											</div>
										</form>
									</td>
								</tr>
								<tr>
									<th>3자동의문</th>
									<td>
										<div th:text="${survey.thirdPsnAgrofferDes}"></div>
										<form class="form-inline">
											<div class="form-check">
											  <input class="form-check-input" type="radio" name="agree2" id="agree2_1" value="on">
											  <label class="form-check-label" for="agree2_1">
											    동의
											  </label>
											</div>
											<div class="form-check">
											  <input class="form-check-input" type="radio" name="agree2" id="agree2_2" value="off" checked>
											  <label class="form-check-label" for="agree2_2">
											    비동의
											  </label>
											</div>
										</form>
									</td>
								</tr>
								<!-- <tr th:each="row, idx : ${rowList}" >
									<th th:text="${#dates.format(row.startHm, 'HH : mm')}" style="text-align:center; vertical-align: middle;"></th>
									<td th:each="col, idx2 : ${colList}" 
										th:data-row="${row.id}" th:data-col="${col.daysNum}">
									
										<th:block th:each="data, idx3 : ${dataList}" th:if="${row.id == data?.wt?.id and col.daysNum == data?.cal?.daysNum}">
										<div th:data-id="${data.id}">
											<button type="button" name="rsvtSch" class="btn btn-outline-success btn-sm" style="padding-top:0px;padding-bottom:0px;margin-top:1px;" th:text="|${data.rsvtUsrNm} / ${data.rsvtCellNo}|">Small button</button>
										</div>
										</th:block>
									</td>
								</tr> -->
							</tbody>
						</table>
						
							<div class="row">
								<div class="col-8">
								</div>
								<div class="col-4">
									<div class="text-right">
										<button type="button" class="btn btn-primary btn-sm" id="agrNextBtn">다음</button>
									</div>
								</div>
							</div>
					</div>
					
					<div id="surveyQuestRgn" style="display:none;">
						
						<div th:each="item:${surveyQuestExam}" th:object="${item}" th:style="${item.gubun}=='EXAM'?'display:inline-block;':''">
							<span th:if="${item.gubun}=='QUEST'" th:text="${item.questNm}"></span>
							<input type="radio" th:if="${item.gubun}=='EXAM' and ${item.examCd}=='RADIO'" th:value="${item.examNm}" th:text="${item.examNm}"/>
							<input type="text" th:if="${item.gubun}=='EXAM' and ${item.examCd}=='TEXT'" th:value="${item.examNm}"/>
							<input type="text" th:if="${item.gubun}=='EXAM' and ${item.examCd}=='CHECKBOX'" th:value="${item.examNm}" th:text="${item.examNm}"/>
							<select th:if="${item.gubun}=='EXAM' and ${item.examCd}=='SELECT'">
							</select>
							<textarea th:if="${item.gubun}=='EXAM' and ${item.examCd}=='LGTEXT'">
							</textarea>
						</div>
						
						<div class="row">
								<div class="col-8">
								</div>
								<div class="col-4">
									<div class="text-right">
										<button type="button" class="btn btn-primary btn-sm" id="agrNextBtn">저장</button>
									</div>
								</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>

	
	<script type="text/javascript" th:inline="javascript">
			
		$(document).ready(function(){
			fnInit();
		});
		
		function fnInit(){
			$("#agrNextBtn").on("click",function(){
				
				var agree1 = $(":input:radio[name=agree1]:checked").val();
				var agree2 = $(":input:radio[name=agree2]:checked").val();
				
				if(agree1 == "off"){
					alert("동의문을 동의해주세요");
				}else if(agree2 == "off"){
					alert("3자 동의문을 동의해주세요");
				}else{
					$("#agrRgn").hide();
					$("#surveyQuestRgn").show();
				
				}
			});
		}
		
		
		
		
	</script>
	<script type="text/javascript" th:src="@{/js/main/rs1001m.js}"></script> 
</div>
</html>
