<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="configFragment">
<meta charset="UTF-8" />

<link rel="stylesheet" type="text/css" href="/vendor/jquery-easyui-1.9.12/themes/bootstrap/easyui.css">
<link rel="stylesheet" type="text/css" href="/vendor/jquery-easyui-1.9.12/themes/icon.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="/css/sb-admin-2.css" rel="stylesheet">
<!-- <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet"> -->


<!-- 컨텐츠페이지의 CSS 영역이 들어감 -->
<th:block layout:fragment="css">
</th:block>


<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>
<!-- Page level plugins -->
<!-- <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script> -->

<!-- Page level custom scripts -->
<!-- <script src="/js/demo/datatables-demo.js"></script> -->


<script type="text/javascript" src="/vendor/jquery-easyui-1.9.12/jquery.min.js"></script>
<script type="text/javascript" src="/vendor/jquery-easyui-1.9.12/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/js/common/easyuiUtil.js"></script>

<!-- 컨텐츠페이지의 스크립트 영역이 들어감 -->
<th:block layout:fragment="script">
</th:block>
</head>
</html>