<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- Sidebar -->
<ul th:fragment="menuFragment" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" >

	<!-- Sidebar - Brand -->
	<a class="sidebar-brand d-flex align-items-center justify-content-center" href="index">
		<div class="sidebar-brand-icon rotate-n-15">
			<i class="fas fa-laugh-wink"></i>
		</div>
		<div class="sidebar-brand-text mx-3">
			관리자페이지 <sup>v1.0.0</sup>
		</div>
	</a>

	<!-- Divider -->
	<hr class="sidebar-divider my-0">

	<!-- Nav Item - Dashboard -->
	<li class="nav-item active"><a class="nav-link" href="index"> <i class="fas fa-fw fa-tachometer-alt"></i> <span>Home</span>
	</a></li>

	<!-- Divider -->
	<hr class="sidebar-divider">

	<!-- Heading -->
	<div class="sidebar-heading">System Management</div>

	<!-- Nav Item - userSideMenu Menu -->
	<li class="nav-item"><a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#userSideMenu" aria-expanded="true" aria-controls="userSideMenu"> <i class="fas fa-fw fa-cog"></i> <span>사용자 관리</span>
	</a>
		<div id="userSideMenu" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<a class="collapse-item" href="AD1001MV">관리자 관리</a> 
				<a class="collapse-item" href="AD1003MV">회원 관리</a>
			</div>
		</div></li>

	<!-- Nav Item - menuSideMenu Menu -->
	<li class="nav-item">
	<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#menuSideMenu" aria-expanded="true" aria-controls="menuSideMenu"> 
		<i class="fas fa-fw fa-wrench"></i> <span>메뉴 관리</span>
	</a>
		<div id="menuSideMenu" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<a class="collapse-item" href="menu">메뉴 관리</a> 
				<a class="collapse-item" href="menuAuth">메뉴권한 관리</a>
			</div>
		</div></li>


	<!-- Nav Item - codeSideMenu Menu -->
	<li class="nav-item"><a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#codeSideMenu" aria-expanded="true" aria-controls="codeSideMenu"> <i class="fas fa-fw fa-wrench"></i> <span>공통코드 관리</span>
	</a>
		<div id="codeSideMenu" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<a class="collapse-item" href="AD1002MV">공통코드 관리</a>
			</div>
		</div></li>


	<!-- Divider -->
	<hr class="sidebar-divider">

	<!-- Heading -->
	<div class="sidebar-heading">Addons</div>
	
	
	<li class="nav-item"><a class="nav-link" href="AD1005MV"> <i class="fas fa-fw fa-chart-area"></i> <span>버전 관리</span></a></li>

	<!-- Nav Item - Pages Collapse Menu -->
	<li class="nav-item"><a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#quesitonSideMenu" aria-expanded="true" aria-controls="quesitonSideMenu"> <i class="fas fa-fw fa-folder"></i> <span>설문조사 관리</span>
	</a>
		<div id="quesitonSideMenu" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<a class="collapse-item" href="AD1004MV">설문조사 정보</a> 
				<a class="collapse-item" href="surveyMng">설문조사 관리</a>
			</div>
		</div></li>

	<!-- Nav Item - Charts -->
	<li class="nav-item"><a class="nav-link" href="sms"> <i class="fas fa-fw fa-chart-area"></i> <span>SMS 관리</span></a></li>


	<!-- Divider -->
	<hr class="sidebar-divider">

	<!-- Heading -->
	<div class="sidebar-heading">일반 사용자</div>

	<!-- Nav Item - Charts -->
	<li class="nav-item"><a class="nav-link" href="/"> <i class="fas fa-fw fa-chart-area"></i> <span>홈으로 이동</span></a></li>


	<!-- Divider -->
	<hr class="sidebar-divider d-none d-md-block">

	<!-- Sidebar Toggler (Sidebar) -->
	<div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0" id="sidebarToggle"></button>
	</div>

	<!-- Sidebar Message -->
	<div class="sidebar-card">
		<!-- <img class="sidebar-card-illustration mb-2" src="img/undraw_rocket.svg" alt=""> -->
		<p class="text-center mb-2">
			<strong>기술지원</strong>
		</p>
		<P>010-XXX-XXXX</P>
	</div>

</ul>
<!-- End of Sidebar -->


</html>