
HTML {
	font-size: 14px !important;
}
.chorok-box {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.req {
    color: crimson;
    top: 10px;
    margin-left: 5px;
}
.w-readonly{
    background-color: white !important;
}


.btn_primary_sel{
    border-color: #4285f4;color: #fff !important;background: #4285f4 !important;
}
.btn_success_sel{
    border-color: #28a745;color: #fff !important;background: #28a745 !important;
}
.btn_secondary_sel{
    border-color: #6c757d;color: #fff !important;background: #6c757d !important;
}


/********************************************
*
* jeasyui css
*
********************************************/
/** jeasyui textbox background color */
.textbox .validatebox-readonly {
	background: #fff7e6;
}
.textbox .textbox-text {
	font-size: 14px !important;
}
.datagrid-cell, .datagrid-cell-group, .datagrid-header-rownumber, .datagrid-cell-rownumber  {
	font-size: 14px !important;
}
.panel-tool a {
	opacity: 1.0;
}

.datagrid-row-selected * {
	background-color : #0081c2 !important;
	color: #fff;
}
