.chorok-box {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.req {
    color: crimson;
    top: 10px;
    margin-left: 5px;
}
.w-readonly{
    background-color: white !important;
}