<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>초록한약국</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.4.0/font/bootstrap-icons.css}">
<link rel="stylesheet" th:href="@{/vendor/login-form-08/fonts/icomoon/style.css}">
<link rel="stylesheet" th:href="@{/vendor/login-form-08/css/owl.carousel.min.css}">
<link rel="stylesheet" th:href="@{/vendor/login-form-08/css/style.css}">

<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
<!--script th:src="@{/vendor/login-form-08/js/popper.min.js}"></script-->
<script th:src="@{/vendor/login-form-08/js/main.js}"></script>

<script>
</script>
</head>
<body>

	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col-md-12 contents">
					<div class="row justify-content-center">
						<div class="col-md-4">
							<div class="mb-4">
								<h3>초록건강한약국</h3>
								<h2>회원가입</h2>
							</div>
							<form>
								<div class="form-group">
									<label for="usrEml">이메일</label> <input type="text"
										class="form-control" id="usrEml" name="usrEml">
								</div>

								<div class="form-group">
									<label for="usrPhnNo">휴대전화번호</label> <input type="text"
										class="form-control" id="usrPhnNo" name="usrPhnNo">
								</div>

								<div class="form-group">
									<label for="usrNm">성명</label> <input type="text"
										class="form-control" id="usrNm" name="usrNm">
								</div>

								<div class="form-group">
									<label for="usrPwd">비밀번호</label>
									<div class="input-group">
										<input type="password" class="form-control" id="usrPwd"
											name="usrPwd">
										<div class="input-group-append"
											style='height: 100%; align: center;'>
											<i class="bi-eye"
												style="margin-left: -15px; cursor: pointer;"></i>
										</div>
									</div>
								</div>

								<div class="form-group">
									<label for="usrPwdChk">비밀번호 확인</label>
									<div class="input-group">
										<input type="password" class="form-control" id="usrPwdChk"
											name="usrPwdChk">
										<div class="input-group-append"
											style='height: 100%; align: center;'>
											<i class="bi-eye"
												style="margin-left: -15px; cursor: pointer;"></i>
										</div>
									</div>
								</div>
								<input type="button" value="회원가입" id="signupBtn"
									class="btn text-white btn-block btn-primary">
								<script>
									document.getElementById('signupBtn').onclick = function() {
										var usrEml = document.getElementById('usrEml').value;
										var usrPhnNo = document.getElementById('usrPhnNo').value;
										var usrNm = document.getElementById('usrNm').value;
										var usrPwd = document.getElementById('usrPwd').value;
										var usrPwdChk = document.getElementById('usrPwdChk').value;
										
										if(usrPwd != usrPwdChk) {
											alert('비밀번호가 서로 맞지 않습니다. 비밀번호를 다시 확인해주세요.');
											return;
										}
										
										var param = {
											usrEml : usrEml,
											usrPhnNo : usrPhnNo,
											usrNm : usrNm,
											usrPwd : usrPwd,
										};
										var paramStr = JSON.stringify(param);

										var xhr = new XMLHttpRequest();
										xhr.onload = function() {
											if (xhr.status === 200) {
												responseObject = JSON.parse(xhr.responseText);
												if (responseObject.status == 'success') {
													alert('회원가입을 축하합니다.');
													location.href = "/account/login";
												} else {
													if (responseObject.errorCode == 'EMPTY_CHECK_ERROR') {
														alert('모든 내용을 입력해 주세요.');
													} else if (responseObject.errorCode == 'EMAIL_CHECK_ERROR') {
														alert('이메일주소를 확인해 주세요.');
													} else if (responseObject.errorCode == 'NUMBER_CHECK_ERROR') {
														alert('휴대전화번호를 확인해 주세요.');
													} else if (responseObject.errorCode == 'SIZE_CHECK_ERROR') {
														var content = "의 입력한 글자수가 너무 작거나 큽니다.";
														if (responseObject.data.item == 'usrEml'){
															content = "이메일" + content;
														} else if (responseObject.data.item == 'usrPhnNo'){
															content = "휴대전화번호" + content;
														} else if (responseObject.data.item == 'usrNm'){
															content = "성명" + content;
														} else if (responseObject.data.item == 'usrPwd'){
															content = "비밀번호" + content;
														}
														content = content + " (최소:" + responseObject.data.min + ", 최대:" + responseObject.data.max + ")";
														alert(content);
													} else if (responseObject.errorCode == 'DATA_BASE_ERROR') {
														alert('네트워크가 원활하지 않습니다. 잠시후 다시 시도해 주세요.');
													}
												}
											}
										};
										xhr.open('POST', '/account/signupProc', true);
										xhr.setRequestHeader('Content-type', 'application/json');
										xhr.send(paramStr);
									}
								</script>

								<!-- <span class="d-block text-left my-4 text-muted"> or sign in with</span>
								<div class="social-login">
									<a href="/account/signup" class="google"> <span class="icon-group mr-3"></span>
									</a> <a href="#" class="facebook"> <span class="icon-facebook mr-3"></span>
									</a> <a href="#" class="twitter"> <span class="icon-twitter mr-3"></span>
									</a> <a href="#" class="google"> <span class="icon-google mr-3"></span>
									</a>
								</div> -->
							</form>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
</body>
</html>