<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/chorok_layout">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">	
	<link rel="stylesheet" th:href="@{/webjars/datetimepicker/2.5.20-1/build/jquery.datetimepicker.min.css}">
	<link rel="stylesheet" th:href="@{/webjars/jquery-contextmenu/2.8.0/dist/jquery.contextMenu.min.css}">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	
	<script th:src="@{/webjars/datetimepicker/2.5.20-1/build/jquery.datetimepicker.full.min.js}"></script>
	<script th:src="@{/webjars/jquery-contextmenu/2.8.0/dist/jquery.contextMenu.min.js}"></script>
	<script th:src="@{/webjars/momentjs/2.29.1/moment.js}"></script>
</th:block>


<div layout:fragment="content" class="content-wrapper">
	<section class="content-header">
		<div class="container-fluid">
		  	<div class="row mb-1">
				<div class="col-sm-6">
			  		<h1>주간 예약 스케쥴</h1>
				</div>
		  	</div>
		</div><!-- /.container-fluid -->
	</section>
	<section class="content">
		<div class="container-fluid">
			<div class="row mb-1">
				<div class="col-sm-8">
					<button type="button" id="btnNewSch" name="btnNewSch" class="btn btn-success btn-sm">새 스케쥴 등록하기</button>
				</div>
				<div class="col-sm-4">
					<div class="text-right">
						<button type="button" id="prevWeek" name="prevWeek" class="btn btn-secondary btn-sm">지난주</button>
						<button type="button" id="thisWeek" name="thisWeek" class="btn btn-secondary btn-sm">오늘</button>
						<button type="button" id="nextWeek" name="nextWeek" class="btn btn-secondary btn-sm">다음주</button>
					</div>
				</div>
			</div>
					
			<div class="row">
				<div class="col-sm-12">
					<div id="time-table" th:fragment="time-table">
						<input type="hidden" id="currDt" name="currDt" th:value="${currDt}" />
						<table class="table-sm table table-bordered table-hover">
							<colgroup>
								<col width=""/>
								<col width="15%"/>
								<col width="15%"/>
								<col width="15%"/>
								<col width="15%"/>
								<col width="15%"/>
								<col width="15%"/>
							</colgroup>
							<thead class="thead-light">
								<tr align="center">
									<th>예약시간</th>
									<th th:each="col, idx : ${colList}" th:text="|${col.baseDtStr} (${col.daysStrKor})|" ></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="row, idx : ${rowList}" >
									<th th:text="${#dates.format(row.startHm, 'HH : mm')}" style="text-align:center; vertical-align: middle;"></th>
									<td th:each="col, idx2 : ${colList}" 
										th:data-row="${row.id}" th:data-col="${col.daysNum}">
									
										<th:block th:each="data, idx3 : ${dataList}" th:if="${row.id == data?.wt?.id and col.daysNum == data?.cal?.daysNum}">
										<div th:data-id="${data.id}">
											<button type="button" name="rsvtSch" class="btn btn-outline-success btn-sm" style="padding-top:0px;padding-bottom:0px;margin-top:1px;" th:text="|${data.rsvtUsrNm} / ${data.rsvtCellNo}|">Small button</button>
										</div>
										</th:block>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
            <div class="modal-content"></div>
		</div>
	</div>
	<script type="text/javascript" th:inline="javascript">
		var rowList  = /*[[${rowList}]]*/'';
		var currCal  = /*[[${currCal}]]*/'';
		console.log( "currCal", currCal)

	</script>
	<script type="text/javascript" th:src="@{/js/main/rs1001m.js}"></script> 
</div>
</html>
