<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/chorok_layout">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">	
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>


<div layout:fragment="content" class="content-wrapper">
	<section class="content-header">
		<div class="container-fluid">
		  	<div class="row mb-1">
				<div class="col-sm-6">
			  		<h1>Home</h1>
				</div>
		  	</div>
		</div><!-- /.container-fluid -->
	</section>
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-4">
					<div class="card">
		            	<div class="card-header ui-sortable-handle" style="cursor: move;">
		                	<h3 class="card-title"><i class="fas fa-chart-pie mr-1"></i>오늘 스케쥴</h3>
							<div class="card-tools">
								<button type="button" id="btnThisWeek" name="btnThisWeek" class="btn btn-link btn-sm">금주 스케쥴 보기</button>
							</div>
		              	</div>
						<div class="card-body">
							<div id="time-table" th:fragment="time-table">
								<input type="hidden" id="currDt" name="currDt" th:value="${currDt}" />
								<table class="table-sm table table-bordered table-hover">
									<colgroup>
										<col width="20%"/>
										<col width="40%"/>
										<col width="40%"/>
									</colgroup>
									<thead class="thead-light">
										<tr align="center">
											<th>예약시간</th>
											<th th:each="col, idx : ${colList}" th:text="|${col.baseDtStr} (${col.daysStrKor})|" ></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="row, idx : ${rowList}" style="height:34px;">
											<th th:text="${#dates.format(row.startHm, 'HH : mm')}" style="text-align:center; vertical-align: middle;"></th>
											<td th:each="col, colIdx : ${colList}"
												th:data-row="${row.id}" th:data-col="${col.daysNum}">
											
												<th:block th:each="data, dataIdx : ${dataList}" th:if="${row.id == data?.wt?.id and col.daysNum == data?.cal?.daysNum}">
												<div th:data-id="${data.rsvtId}">
													<button type="button" name="rsvtSch" class="btn btn-sm" 
														th:classappend="${data.picUsrNo} == 1 ? btn-outline-success : btn-outline-primary"
													style="padding-top:0px;padding-bottom:0px;margin-top:1px;" th:text="|${data.rsvtUsrNm} / ${data.rsvtCellNo}|">Small button</button>
												</div>
												</th:block>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card">
		            	<div class="card-header ui-sortable-handle" style="cursor: move;">
		                	<h3 class="card-title"><i class="fas fa-chart-pie mr-1"></i>오늘 상담전화 (상담실장님)</h3>
							<div class="card-tools">
								<button type="button" id="btnThisWeek" name="btnThisWeek" class="btn btn-link btn-sm">오늘 업무보기</button>
							</div>
		              	</div>
						<div class="card-body">
							<div id="table01"></div>
						</div>
					</div>
					<div class="card">
		            	<div class="card-header ui-sortable-handle" style="cursor: move;">
		                	<h3 class="card-title"><i class="fas fa-chart-pie mr-1"></i>복용보류 고객</h3>
							<div class="card-tools">
								<button type="button" id="btnThisWeek" name="btnThisWeek" class="btn btn-link btn-sm">전체보기</button>
							</div>
		              	</div>
						<div class="card-body">
							<div id="table03"></div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card">
		            	<div class="card-header ui-sortable-handle" style="cursor: move;">
		                	<h3 class="card-title"><i class="fas fa-chart-pie mr-1"></i>금일 상담전화 (약사님)</h3>
							<div class="card-tools">
								<button type="button" id="btnThisWeek" name="btnThisWeek" class="btn btn-link btn-sm">오늘 업무보기</button>
							</div>
		              	</div>
						<div class="card-body">
							<div id="table02"></div>
						</div>
					</div>
					<div class="card">
		            	<div class="card-header ui-sortable-handle" style="cursor: move;">
		                	<h3 class="card-title"><i class="fas fa-chart-pie mr-1"></i>택배발송해야할 목록</h3>
							<div class="card-tools">
								<button type="button" id="btnThisWeek" name="btnThisWeek" class="btn btn-link btn-sm">전체보기</button>
							</div>
		              	</div>
						<div class="card-body">
							<div id="table04"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="modal" id="modalRsvtDtl" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
            <div class="modal-content"></div>
		</div>
	</div>

	<script type="text/javascript" th:inline="javascript">
	var timeList  = /*[[${timeList}]]*/'';
	</script>
	<script type="text/javascript" th:src="@{/js/main/index.js}"></script> 
</div>
</html>
