<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="layouts/chorok_layout2">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<div layout:fragment="content" class="content-wrapper">
	<section class="content-header">
		<div class="container-fluid">
		  	<div class="row mb-1">
				<div class="col-sm-6">
			  		<h1>고객목록</h1>
				</div>
		  	</div>
		</div><!-- /.container-fluid -->
	</section>
	<section class="content">
		<div class="container-fluid">
			<div class="easyui-panel mb-2 p-2" title="검색" style="width: 100%;height: 80px;overflow: hidden;">
				<form id="searchFrm" method="post">
				<div class="row">
					<div class="col-md-8 form-inline">
						<input id="custUsrNm" name="custUsrNm" class="easyui-textbox"
							   data-options="
							   		label:'고객이름',
							   		labelPosition:'left'"
							   style="width: 300px;">
						<div style="width: 10px;"></div>
						<input id="custCellNo" name="custCellNo" class="easyui-numberbox"
							   data-options="
							   		label:'핸드폰번호',
							   		labelPosition:'left'"
							   style="width: 300px;">
						<a href="javascript:void(0)" class="easyui-linkbutton ml-3" style="width:100px;height:32px"
						   data-options="iconCls:'icon-ok'" 
						   onClick="fnSearch();">검색</a>
					</div>
					<div class="col-md-4 form-inline d-flex justify-content-end">
						<a href="javascript:void(0)" class="easyui-linkbutton c1" style="width:100px;height:32px"
						   onClick="fnCustInfo();">고객상담정보</a>
						<a href="javascript:void(0)" class="easyui-linkbutton c8 ml-3" style="width:100px;height:32px"
						   onClick="fnNewCustPop();">신규등록</a>
					</div>
				</div>
				</form>
			</div>
			<table id="dg" style="width: 100%;min-height: 730px;"></table>
		</div>
	</section>
	
	<!-- add customer dialog -->
	<div id="addDlg" class="easyui-dialog" style="width:1200px;padding:10px;" data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons'">
		<form id="addFrm" method="post" novalidate>
		<div class="row">
			<div class="col">
				<div class="easyui-accordion" style="width:580px;height:250px;">
					<div title="기본정보" data-options="collapsible:false" style="padding: 10px;">
						<div class="row" style="margin-bottom: 10px">
							<div class="col">
								<input name="dlg_custUsrNm" class="easyui-textbox" data-options="label:'고객이름',required:true" style="width: 100%">
							</div>
							<div class="col">
							  	<input name="dlg_custCellNo" class="easyui-textbox" data-options="label:'핸드폰번호',required:true" style="width: 100%;">
							</div>
						</div>
						<div class="row" style="margin-bottom: 10px">
							<div class="col">
								<input name="dlg_custBirthDt" class="easyui-textbox" data-options="label:'생년월일',required:true" style="width: 100%">
							</div>
							<div class="col">
								<div class="form-inline" style="padding-top: 5px;">
									<label style="margin-right: 55px;">성별</label>
									<input name="dlg_custGenTpCd" class="easyui-radiobutton" label="여성" labelWidth="50" labelPosition="after" value="F">
									<input name="dlg_custGenTpCd" class="easyui-radiobutton" label="남성" labelWidth="50" labelPosition="after" value="M">
								</div>
							</div>
						</div>
						<div class="row" style="margin-bottom: 10px">
							<div class="col-6">
								<select name="dlg_delYn" class="easyui-combobox" data-options="label:'삭제여부'" style="width: 100%;">
									<option value="N" selected="selected">비삭제</option>
								    <option value="Y">삭제</option>
								</select>
							</div>
							<div class="col-6">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="easyui-accordion" style="width:580px;height:250px;">
					<div title="결혼정보" data-options="collapsed:false,collapsible:false" style="padding: 10px;">
						<div class="row" style="margin-bottom: 10px">
							<div class="col">
								<div class="form-inline" style="padding-top: 5px;">
									<label style="margin-right: 30px;">결혼유무</label>
									<input name="dlg_mrgYn" class="easyui-radiobutton" label="미혼" labelWidth="50" labelPosition="after" value="N">
									<input name="dlg_mrgYn" class="easyui-radiobutton" label="기혼" labelWidth="50" labelPosition="after" value="Y">
								</div>
							</div>
							<div class="col">
							</div>
						</div>
						<div class="row" style="margin-bottom: 10px">
							<div class="col">
								<input name="dlg_pcrtChdCnt" class="easyui-numberspinner" label="출산자녀수" style="width: 100%" data-options="min:1,max:20">
							</div>
							<div class="col">
								<input name="dlg_lstPcrtYear" class="easyui-numberspinner" label="마지막 출산년도" style="width: 100%" data-options="min:1950,max:2050">
							</div>
						</div>
						<div class="row" style="margin-bottom: 10px">
							<div class="col-6">
								<div class="form-inline" style="padding-top: 5px;">
									<label style="margin-right: 30px;">모유수유</label>
									<input name="dlg_brstFdgYn" class="easyui-radiobutton" label="예" labelWidth="50" labelPosition="after" value="Y">
									<input name="dlg_brstFdgYn" class="easyui-radiobutton" label="아니오" labelWidth="50" labelPosition="after" value="N">
								</div>
							</div>
							<div class="col-6">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="padding-top: 10px;">
			<div class="col">
				<div class="easyui-accordion" style="width:580px;height:250px;">
					<div title="주소정보" data-options="collapsible:false" style="padding: 10px;">
						<div class="row" style="margin-bottom: 10px">
							<div class="col">
								<input name="dlg_zipCode" class="easyui-textbox" data-options="label:'우편번호'" style="width:100%">
							</div>
							<div class="col">
							</div>
						</div>
						<div class="row" style="margin-bottom: 10px">
							<div class="col-12">
								<input name="dlg_addr1" class="easyui-textbox" data-options="label:'주소'" style="width: 90%">
							</div>
						</div>
						<div class="row" style="margin-bottom: 10px">
							<div class="col-12">
								<input name="dlg_addr2" class="easyui-textbox" data-options="label:'상세주소'" style="width: 90%">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="easyui-accordion" style="width:580px;height:250px;">
					<div title="내원경로" data-options="collapsed:false,collapsible:false" style="padding: 10px;">
						<div class="row" style="margin-bottom: 10px;padding-left: 7px;">
							<input name="dlg_vistTpCd" class="easyui-radiobutton" label="지인소개" labelWidth="100" labelPosition="after" value="1">
						</div>
						<div class="row" style="margin-bottom: 10px;padding-left: 7px;">
							<input name="dlg_vistTpCd" class="easyui-radiobutton" label="홈페이지" labelWidth="100" labelPosition="after" value="2">
						</div>
						<div class="row" style="margin-bottom: 10px;padding-left: 7px;">
							<input name="dlg_vistTpCd" class="easyui-radiobutton" label="카카오톡 검색창" labelWidth="100" labelPosition="after" value="3">
						</div>
						<div class="row" style="margin-bottom: 10px;padding-left: 7px;">
							<input name="dlg_vistTpCd" class="easyui-radiobutton" label="블로그 및 인터넷" labelWidth="100" labelPosition="after" value="4">
						</div>
						<div class="row" style="margin-bottom: 10px;padding-left: 7px;">
							<input name="dlg_vistTpCd" class="easyui-radiobutton" label="기타" labelWidth="100" labelPosition="after" value="5">
						</div>
					</div>
				</div>
			</div>
		</div>
		</form>
		<div style="text-align:center;padding:10px 0">
			<a href="javascript:void(0)" class="easyui-linkbutton c6" data-options="iconCls:'icon-ok'" onClick="addUser();">저장</a>
			<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onClick="javascript:$('#addDlg').dialog('close');">취소</a>
		</div>
	</div>
</div>
	
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
<script type="text/javascript" th:src="@{/js/customer/CUS1001ML_2.js}"></script>
</th:block>
</html>
