<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/chorok_layout">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	<script type="text/javascript" th:src="@{/js/main/RS1001PU02.js}"></script>
	<script type="text/javascript" th:inline="javascript">
		var cnstList  = /*[[${cnstList}]]*/'';
		var selectParam01 = {
			"Y": "예", 
			"N":"아니요"
		};
		var selectParam02 = {
			"N" : "",
			"Y": "예"
		};
		var selectParam03 = {
			"0": "복용 시작전", 
			"1": "1단계(선식3일)",
			"2": "2단계(안정기)", 
			"3": "3단계(1주)", 
			"4": "3단계(2주)", 
			"5": "3단계(3주)", 
		};
		var picUsrList = {
			"1" : "박정란",
			"2" : "황진영"
		};
	</script>
	<style>
		#surveyTbl.table th, #surveyTbl.table td { 
			padding:0.25em; 
			padding-right:10px !important; 
			vertical-align: middle;
		}
	</style>
</th:block>


<div layout:fragment="content" class="content-wrapper">
	<section class="content-header">
		<div class="container-fluid">
		  	<div class="row mb-1">
				<div class="col-sm-6">
			  		<h1>고객상담정보</h1>
				</div>
		  	</div>
		</div><!-- /.container-fluid -->
	</section>
	<section class="content">
		<div class="container-fluid">
			<div th:replace="main/RS1001PU02 :: customer-main-table"></div>
		</div>
	</section>
	<script type="text/javascript" th:src="@{/js/main/RS1001PU02.js}"></script> 
</div>
</html>
