<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="layouts/chorok_layout2">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>
	
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	<script type="text/javascript" th:src="@{/js/customer/CUS1001ML_2.js}"></script>
</th:block>

<div layout:fragment="content" class="content-wrapper">
	<section class="content-header">
		<div class="container-fluid">
		  	<div class="row mb-1">
				<div class="col-sm-6">
			  		<h1>고객목록</h1>
				</div>
		  	</div>
		</div><!-- /.container-fluid -->
	</section>
	<section class="content">
		<div class="container-fluid">
			<div class="easyui-panel mb-2 p-2" title="검색" style="width: 100%;height: 80px;overflow: hidden;">
				<form id="searchFrm" method="post">
				<div class="row">
					<div class="col-md-8 form-inline">
						<input id="custUsrNm" name="custUsrNm" class="easyui-textbox"
							   data-options="
							   		label:'고객이름',
							   		labelPosition:'left'"
							   style="width: 300px;">
						<div style="width: 10px;"></div>
						<input id="custCellNo" name="custCellNo" class="easyui-numberbox"
							   data-options="
							   		label:'핸드폰번호',
							   		labelPosition:'left'"
							   style="width: 300px;">
						<a href="javascript:void(0)" class="easyui-linkbutton ml-3" style="width:100px;height:32px"
						   data-options="iconCls:'icon-ok'" 
						   onClick="fnSearch();">검색</a>
					</div>
					<div class="col-md-4 d-flex justify-content-end">
						<a href="javascript:void(0)" id="btnCustInfo" class="easyui-linkbutton c1" style="width:100px;height:32px">고객상담정보</a>
						<a href="javascript:void(0)" id="btnNewCustPop" class="easyui-linkbutton c8 ml-3" style="width:100px;height:32px">신규등록</a>
						<a href="javascript:void(0)" id="btnNewCustPop2" class="easyui-linkbutton c8 ml-3" style="width:100px;height:32px">신규등록2</a>
					</div>
				</div>
				</form>
			</div>
			<table id="dg01" style="width: 100%;min-height: 730px;"></table>
		</div>
	</section>

	<!-- add customer dialog -->
	<div id="addCustDlg" class="easyui-dialog" style="width:1300px;padding:10px;display: none;" data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons'">
	    <form id="addCustFrm" name="addCustFrm" method="post">
	    <input type="hidden" name="rcmdCustId">
		<div class="row">
			<div class="col-md-6">
				<div class="row p-2">
					<div class="easyui-panel" title="기본정보" style="width: 100%;min-height: 200px;"
						 data-options="collapsible:true">
						<div class="row m-2">
							<div class="col">
								<input name="dlg_custUsrNm" class="easyui-textbox" style="width: 100%;"
									   data-options="label:'고객이름',required:true">
							</div>
							<div class="col">
								<input name="dlg_custCellNo" class="easyui-textbox" style="width: 100%;"
									   data-options="label:'휴대폰번호',required:true">
							</div>
						</div>
						<div class="row m-2">
							<div class="col">
								<input name="dlg_custBirthDt" class="easyui-textbox" style="width: 100%"
									   data-options="label:'생년월일',required:true">
							</div>
							<div class="col">
								<div class="form-inline pt-1">
									<label style="margin-right: 60px;">성별</label>
									<input name="dlg_custGenTpCd" class="easyui-radiobutton"
										   data-options="label:'여성',labelWidth:60,labelPosition:'after'"
										   value="F">
									<input name="dlg_custGenTpCd" class="easyui-radiobutton"
										   data-options="label:'남성',labelWidth:60,labelPosition:'after'"
										   value="M">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row p-2">
					<div class="easyui-panel" title="결혼정보" style="width: 100%;min-height: 200px;"
						 data-options="collapsible:true">
						<div class="row m-2">
							<div class="col">
								<div class="form-inline pt-1">
									<label style="margin-right: 30px;">결혼유무</label>
									<input name="dlg_mrgYn" class="easyui-radiobutton"
										   data-options="label:'미혼',labelWidth:60,labelPosition:'after'" 
										   value="N">
									<input name="dlg_mrgYn" class="easyui-radiobutton"
										   data-options="label:'기혼',labelWidth:60,labelPosition:'after'" 
										   value="Y">
								</div>
							</div>
							<div class="col">
							</div>
						</div>
						<div class="row m-2">
							<div class="col">
								<input name="dlg_pcrtChdCnt" class="easyui-numberspinner" style="width: 100%"
									   data-options="label:'출산자녀수',min:1,max:20">
							</div>
							<div class="col">
								<input name="dlg_lstPcrtYear" class="easyui-numberspinner" style="width: 100%"
									   data-options="label:'마지막 출산년도',min:1950,max:2050">
							</div>
						</div>
						<div class="row m-2">
							<div class="col">
								<div class="form-inline pt-1">
									<label style="margin-right: 30px;">모유수유</label>
									<input name="dlg_brstFdgYn" class="easyui-radiobutton"
										   data-options="label:'예',labelWidth:60,labelPosition:'after'" 
										   value="Y">
									<input name="dlg_brstFdgYn" class="easyui-radiobutton"
										   data-options="label:'아니오',labelWidth:60,labelPosition:'after'" 
										   value="N">
								</div>
							</div>
							<div class="col">
							</div>
						</div>
					</div>
				</div>
				<div class="row p-2">
					<div class="easyui-panel" title="내원경로" style="width: 100%;min-height: 200px;"
						 data-options="collapsible:true">
						<div class="row m-2">
							<div class="col-12">
								<input name="dlg_vistTpCd" class="easyui-radiobutton"
									   data-options="label:'지인소개',labelWidth:170,labelPosition:'after'"
									   value="1">
							</div>
						</div>
						<div class="row m-2">
							<div class="col-12">
								<input name="dlg_vistTpCd" class="easyui-radiobutton"
									   data-options="label:'홈페이지',labelWidth:170,labelPosition:'after'"
									   value="2">
							</div>
						</div>
						<div class="row m-2">
							<div class="col-12">
								<input name="dlg_vistTpCd" class="easyui-radiobutton"
									   data-options="label:'카카오톡 검색창',labelWidth:170,labelPosition:'after'"
									   value="3">
							</div>
						</div>
						<div class="row m-2">
							<div class="col-12">
								<input name="dlg_vistTpCd" class="easyui-radiobutton"
									   data-options="label:'블로그 및 인터넷',labelWidth:170,labelPosition:'after'"
									   value="4">
							</div>
						</div>
						<div class="row m-2">
							<div class="col-12">
								<input name="dlg_vistTpCd" class="easyui-radiobutton"
									   data-options="label:'기타',labelWidth:170,labelPosition:'after'"
									   value="5">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row p-2">
					<div class="easyui-panel" title="주소정보" style="width: 100%;min-height: 200px;"
						 data-options="collapsible:true">
						<div class="row m-2">
							<div class="col">
								<input id="zipCode" name="dlg_zipCode" class="easyui-textbox" style="width: 200px;"
									   data-options="label:'우편번호',labelPosition:'before'">
								<a href="#" class="easyui-linkbutton ml-2" data-options="iconCls:'icon-search'" style="width: 130px;" onclick="fnZipCode();">우편번호 찾기</a>
							</div>
						</div>
						<div class="row m-2">
							<div class="col-12">
								<input id="addr1" name="dlg_addr1" class="easyui-textbox" style="width: 100%;"
									   data-options="label:'주소'">
							</div>
						</div>
						<div class="row m-2">
							<div class="col-12">
								<input id="addr2" name="dlg_addr2" class="easyui-textbox" style="width: 100%;"
									   data-options="label:'상세주소'">
							</div>
						</div>
					</div>
				</div>
				<div class="row p-2">
					<div class="easyui-panel" title="고객메모" style="width: 100%;min-height: 200px;"
						 data-options="collapsible:true">
						<div class="row m-2">
							<div class="col-12">
								<input name="dlg_custMemo" class="easyui-textbox" style="width: 100%;height: 150px;"
									   data-options="multiline:true">
							</div>
						</div>
					</div>
				</div>
				<div class="row p-2">
					<div class="easyui-panel" title="추천인정보" style="width: 100%;min-height: 200px;"
						 data-options="collapsible:true">
						<div class="row m-2">
							<div class="col-12">
								<input name="dlg_rcmdCustNm" class="easyui-textbox" style="width: 100%;"
									   data-options="label:'추천인'">
							</div>
						</div>
						<div class="row m-2">
							<div class="col-12">
								<input name="dlg_rcmdCellNo" class="easyui-textbox" style="width: 100%;"
									   data-options="label:'추천인 연락처'">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	    </form>
		<hr>
		<div class="col-md-12 d-flex justify-content-end">
			<a href="javascript:void(0)" id="btnSaveCust" class="easyui-linkbutton c6" data-options="iconCls:'icon-ok'">저장</a>
			<a href="javascript:void(0)" class="easyui-linkbutton ml-2" data-options="iconCls:'icon-cancel'" onClick="javascript:$('#addCustDlg').dialog('close');">취소</a>
		</div>
	</div>
	
	<div id="addCustDlg2" class="easyui-dialog" style="width:1300px;padding:10px;display: none;" data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons'">
	</div>
	
    <div id="layer" style="display:none;position:fixed;overflow:hidden;z-index:9006;-webkit-overflow-scrolling:touch;">
        <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnCloseLayer" style="cursor:pointer;position:absolute;right:-3px;top:-3px;z-index:9006" onclick="closeDaumPostcode()" alt="닫기 버튼">
    </div>
</div>
</html>
