<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="layouts/chorok_layout2">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<div layout:fragment="content" class="content-wrapper">
	<section class="content-header">
		<div class="container-fluid">
		  	<div class="row mb-1">
				<div class="col-sm-6">
			  		<h1>고객상담정보</h1>
				</div>
		  	</div>
		</div><!-- /.container-fluid -->
	</section>
	<section class="content">
		<div class="container-fluid">
			<div th:replace="main/RS1001PU02_2 :: customer-main-table"></div>
		</div>
	</section>
</div>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
<script type="text/javascript" th:src="@{/js/main/RS1001PU02_2.js}"></script>
</th:block>
</html>
