<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="layouts/chorok_layout">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	<script type="text/javascript" th:src="@{/js/customer/CUS2001ML.js}"></script> 
</th:block>

<div layout:fragment="content" class="content-wrapper">
	<section class="content-header">
		<div class="container-fluid">
		  	<div class="row mb-1">
				<div class="col-sm-6">
			  		<h1>복용상담스케쥴</h1>
				</div>
		  	</div>
		</div><!-- /.container-fluid -->
	</section>
	<section class="content">
		<div class="container-fluid">
			<div class="easyui-panel mb-2 p-2" title="검색" style="width: 100%;height: 80px;overflow: hidden;">
				<form id="searchFrm" method="post">
				<div class="row">
					<div class="col-md-2 form-inline">
						<input class="easyui-datebox" id="dosgDt" name="dosgDt" placeholder="복용일자" th:value="${#dates.format(dosgDt, 'yyyy-MM-dd')}"
							   data-options="
							   		label:'복용일자',
							   		labelPosition:'left',
									formatter:myformatter,
									parser:myparser"
							   style="width: 200px;">
					</div>
					<div class="col-md-2 form-inline">
						<select class="easyui-combobox" id="picUsrNo"  name="picUsrNo" style="width: 100%;text-align: center;"
								   data-options="
							   		label:'상담한약사',
							   		labelPosition:'left',
							   		required:true">
							<option value="">선택</option>
							<option th:each="data, index : ${chemistList}"
									th:value="${data?.usrNo}" 
									th:text="${data?.usrNm}"></option>
						</select>
					</div>
					<div class="col-md-2 form-inline">
	 		 			<select class="easyui-combobox" id="pic2UsrNo"  name="pic2UsrNo" style="width: 100%;text-align: center;"
							   data-options="
							   		label:'상담실장',
							   		labelPosition:'left',
							   		required:true">
							<option value="">선택</option>
							<option th:each="data, index : ${counselorList}"
									th:value="${data?.usrNo}" 
									th:text="${data?.usrNm}"></option>
						</select>
					</div>
					<div class="col-md-2 form-inline">
						<a href="javascript:void(0)" class="easyui-linkbutton ml-3" style="width:100px;height:32px"
						   data-options="iconCls:'icon-ok'" 
						   onClick="fnSearch();">검색</a>
					</div>
				</div>
				</form>
			</div>
			<table id="table01" style="width:100%;min-height:730px;"></table>
		</div>
	</section>
</div>
</html>
