<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="layouts/chorok_layout">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
	<script type="text/javascript" th:src="@{/js/customer/CUS3001ML.js}"></script> 
</th:block>

<div layout:fragment="content" class="content-wrapper">
	<section class="content-header">
		<div class="container-fluid">
		  	<div class="row mb-1">
				<div class="col-sm-6">
			  		<h1>택배발송</h1>
				</div>
		  	</div>
		</div><!-- /.container-fluid -->
	</section>
	<section class="content">
		<div class="container-fluid">
			<div class="easyui-panel p-2" title="검색" style="width: 100%;overflow: hidden;"
				data-options="cls:'c2'">
				<form id="searchFrm" method="post">
				<div class="row">
					<div class="col-2">
						<input id="custUsrNm" name="custUsrNm" class="easyui-textbox"
							   data-options="label:'고객이름',labelWidth:70,labelAlign:'left'"
							   style="width:100%;">
					</div>
					<div class="col-2">
						<input id="custCellNo" name="custCellNo" class="easyui-numberbox"
							   data-options="
							   		label:'핸드폰번호',
							   		labelWidth:80,
							   		labelPosition:'left'"
							   style="width: 100%;">
					</div>
					<div class="col-2">
						<select class="easyui-combobox" id="picUsrNo" name="picUsrNo" style="width:100%;text-align: center;"
								   data-options="
							   		label:'담당한약사',
							   		labelAlign:'left',
							   		panelHeight:'auto'">
							<option value="">전체</option>
							<option th:each="data, index : ${chemistList}"
									th:value="${data?.usrNo}" 
									th:text="${data?.usrNm}"></option>
						</select>
					</div>
					<div class="col-2">
	 		 			<select class="easyui-combobox" id="pic2UsrNo" name="pic2UsrNo" style="width: 100%;text-align: center;"
							   data-options="
							   		label:'담당실장',
							   		labelAlign:'left',
							   		panelHeight:'auto'">
							<option value="">전체</option>
							<option th:each="data, index : ${counselorList}"
									th:value="${data?.usrNo}" 
									th:text="${data?.usrNm}"></option>
						</select>
					</div>
					<div class="col-2">
						<a href="javascript:void(0)" id="btnSearchCust" class="easyui-linkbutton ml-3" style="width:100px;" data-options="iconCls:'icon-ok'">검색</a>
					</div>
					<div class="col-2 d-flex justify-content-end">
						<a href="javascript:void(0)" id="btnCustInfo" class="easyui-linkbutton c1" style="width:100px;;height:32px">고객상담정보</a>
					</div>
				</div>
				
				<div class="row">
					<div class="col-2 form-inline">
						<input class="easyui-datebox" id="dlvDt" name="dlvDt" 
							   th:value="${#dates.format(dlvDt, 'yyyy-MM-dd')}"
							   data-options="label:'택배발송일',
							   		labelWidth:70,
							   		labelAlign:'left',
									formatter:myformatter,
									parser:myparser"
							   style="width: 185px;">
						<div style="width: 10px;"></div>
						<input name="eqGtYn" id="eqGtYn" class="easyui-checkbox" style="text-align:center;" value="Y"  
								data-options="label:'이후날짜포함',labelWidth:80,labelPosition:'left'">
					</div>
					
					<div class="col-2">
	 		 			<select class="easyui-combobox" id="payTpCd" name="payTpCd" style="width: 100%;text-align: center;"
							   data-options="
							   		label:'결제유형',
							   		labelWidth:80,
							   		labelAlign:'left',
							   		panelHeight:'auto'">
							<option value="">전체</option>
							<option th:each="data, index : ${payTpCdList}"
									th:value="${data?.ditcCd}" 
									th:text="${data?.ditcNm}"></option>
						</select>
					</div>
				</div>
				</form>
			</div>
			<div class="row">
				<div class="col-12 mt-2">
					<table id="table01" style="width:100%;height:695px;"></table>				
				</div>
			</div>
		</div>
	</section>

	<!-- customer dialog -->
	<div id="custDlgWrap"></div>
</div>
</html>
