<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Insert title here</title>
<!-- easyui -->
<link rel="stylesheet" th:href="@{/easyui/themes/bootstrap/easyui.css}">
<link rel="stylesheet" th:href="@{/easyui/themes/icon.css}">
<link rel="stylesheet" th:href="@{/easyui/themes/color.css}">

<!-- easyui -->
<script type="text/javascript" th:src="@{/easyui/jquery.min.js}"></script>  
<script type="text/javascript" th:src="@{/easyui/jquery.easyui.min.js}"></script>
<script type="text/javascript">
$(function() {
	$('#sendSms1').click(function(e) {
		var appKey = "0rhL2B2YO15WTOXr"; //앱키
		var formData = {
			body : "문자보내기 테스트111",
			sendNo : "01030038397",
			recipientList:[
				{
				   "recipientNo" : "01035693756",
				   "countryCode" : "82"
				}
   			],
		};
		
		$.ajax({
			url: "https://api-sms.cloud.toast.com/sms/v2.4/appKeys/" + appKey + "/sender/sms",
			method: 'post',
			contentType: 'application/json;charset=UTF-8',
			dataType: 'json',
			data: JSON.stringify(formData),
			success: function(res) {
				if (res.status === 'success') {
					$.messager.show({ title: 'SMS', msg: 'Success' });
				}
			},
			error: function(xhr, status, error) {
				$.messager.alert('SMS', xhr.responseJSON, 'error');
			}
		});
	});
	
	$('#sendSms2').click(function(e) {
		var xhr = new XMLHttpRequest();
	    // var formData = new FormData();
	    // formData.append('body', '문자보내기 테스트');
	    // formData.append('sendNo', '01038252547');
	    xhr.onload = function() {
	      if (xhr.status === 200 || xhr.status === 201) {
	        console.log(xhr.responseText);
	      } else {
	        console.error(xhr.responseText);
	      }
	    };
	    var appKey = "0rhL2B2YO15WTOXr"; //앱키
	    var body = "문자보내기 테스트";
	    var sendNo = "01030038397";
	    var recipientNo = '01035693756';
	    xhr.open("POST", "https://api-sms.cloud.toast.com/sms/v2.4/appKeys/" + appKey + "/sender/sms?startRequestDate=2021-04-14 23:08:00&endRequestDate=2021-04-14 23:08:00");
	    xhr.withCredentials = true;
	    xhr.send("{\"body\":\"" + body + "\", \"sendNo\":\"" + sendNo + "\", \"recipientList\":[{\"recipientNo\":\"" + recipientNo + "\"}]}");
	});
});
</script>
</head>
<body>
	<div class="easyui-panel" title="Form Validate" style="width:100%;max-width:400px;padding:30px 60px;">
		<form id="frm" method="post" data-options="novaliate:true">
			<div style="margin-bottom: 20px;">
				<input name="uid" class="easyui-textbox" style="width:200px;"
					   data-options="label:'ID:',required:true"
					   maxlength="2"></input>
			</div>
			<div>
				<input name="uname" class="easyui-textbox" style="width:200px;"
					   data-options="label:'Name:',required:true"></input>
			</div>
		</form>
		<div style="margin-top: 10px;">
			<a href="javascript:void(0)" id="sendSms1" class="easyui-linkbutton">SMS - 1</a>
			<a href="javascript:void(0)" id="sendSms2" class="easyui-linkbutton ml-2">SMS - 2</a>
		</div>
	</div>
</body>
</html>