<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Insert title here</title>
<!-- easyui -->
<link rel="stylesheet" th:href="@{/easyui/themes/bootstrap/easyui.css}">
<link rel="stylesheet" th:href="@{/easyui/themes/icon.css}">
<link rel="stylesheet" th:href="@{/easyui/themes/color.css}">

<!-- easyui -->
<script type="text/javascript" th:src="@{/easyui/jquery.min.js}"></script>  
<script type="text/javascript" th:src="@{/easyui/jquery.easyui.min.js}"></script>
<script type="text/javascript">
$(function() {
	$('#win').window('open');
});
</script>
</head>
<body>
	<div id="win" class="easyui-window" title="Window Title" style="width:100%;max-width:400px;padding:30px 60px;">
		<div>
			<a href="javascript:void(0)" id="submitFrm" class="easyui-linkbutton">전송</a>
		</div>
	</div>
</body>
</html>